body {
  background: #282828;
  color: #f3f3f3;
}
a {
  color: #9bc9d7 !important;
}
a.dark {
  background: #282828 !important;
  color: #f3f3f3 !important;
}
a.light {
  background: #f3f3f3 !important;
  color: #282828 !important;
  text-decoration: underline !important;
}
ul.links li {
  background-color: #282828;
}