---
title: Projects
title_icon: fa-solid fa-gear
layout: page
style: site-api
tags: fa fa-solid
---
<div class="row code">
  <div class="one-third column section-label">
    <h3>Code</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">

      <li class="dynamic">
        <a href="https://github.com/michaelchadwick" class="favicon">Github</a>
        <!--
        <ul class="apiData narrow devgit">
          <li class="ghInfo">
            {% include spinner.html %}
          </li>
        </ul>
        -->
      </li>

      <li class="dynamic">
        <a href="https://gist.github.com/michaelchadwick" class="favicon">Github Gist</a>
      </li>

      <li class="manual code"><span>My Projects</span>
        <ul>
          <li class="dynamic"><a href="https://neb.host/#webs" class="favicon">Websites</a></li>
          <li class="dynamic"><a href="https://neb.host/#games" class="favicon">Games</a></li>
          <li class="dynamic"><a href="https://www.npmjs.com/~mjchadwick" class="favicon">Node Packages</a></li>
          <li class="dynamic">
            <a href="https://rubygems.org/profiles/mjchadwick" class="favicon">Ruby Gems</a>
            <ul class="apiData narrow gemList">
              <li class="rubyGems loader">
                {% include spinner.html %}
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="manual code"><span>Code Playgrounds</span>
        <ul>
          <li class="dynamic"><a href="https://codepen.io/michaelchadwick/pens/public" class="favicon">Code Pens</a></li>
          <li class="dynamic"><a href="https://glitch.com/@michaelchadwick" class="favicon">Glitch Projects</a></li>
          <li class="dynamic"><a href="https://nebyoolae.itch.io" class="favicon">Itch.io Projects</a></li>
          <li class="dynamic"><a href="https://replit.com/@michaelchadwick" class="favicon">Repls</a></li>
        </ul>
      </li>

      <li class="manual code"><span>Code Challenges</span>
        <ul>
          <li class="dynamic">
            <a href="https://adventofcode.com" class="favicon">Advent of Code</a>
            <!--
            <ul class="apiData narrow aocStars">
              <li class="adventOfCode loader">
                {% include spinner.html %}
              </li>
            </ul>
            -->
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>

<div class="row audio">
  <div class="one-third column section-label">
    <a class="anchor" name="audio"></a>
    <h3>Audio</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">

      <li class="manual music"><span>Nebyoolae</span>
        <ul>
          <li class="dynamic"><a href="{{ site.bc_neb_link }}" class="favicon">Bandcamp</a></li>
          <li class="dynamic"><a href="{{ site.sp_neb_link }}" class="favicon">Spotify</a></li>
          <li class="dynamic"><a href="{{ site.am_neb_link }}" class="favicon">Apple Music</a></li>
          <li class="dynamic"><a href="{{ site.yt_neb_link }}" class="favicon">YouTube Music</a></li>
          <li class="dynamic"><a href="{{ site.sc_neb_link }}" class="favicon">Soundcloud</a></li>
        </ul>
      </li>

      <li class="manual music"><span>Fenchy</span>
        <ul>
          <li class="dynamic"><a href="{{ site.bc_fenchy_link }}" class="favicon">Bandcamp</a></li>
          <li class="dynamic"><a href="{{ site.sp_fenchy_link }}" class="favicon">Spotify</a></li>
          <li class="dynamic"><a href="{{ site.am_fenchy_link }}" class="favicon">Apple Music</a></li>
          <li class="dynamic"><a href="{{ site.yt_fenchy_link }}" class="favicon">YouTube Music</a></li>
        </ul>
      </li>

      <li class="manual music"><span>Fly Like Venus</span>
        <ul>
          <li class="dynamic"><a href="{{ site.bc_flv_link }}" class="favicon">Bandcamp</a></li>
          <li class="dynamic"><a href="{{ site.sp_flv_link }}" class="favicon">Spotify</a></li>
          <li class="dynamic"><a href="{{ site.am_flv_link }}" class="favicon">Apple Music</a></li>
          <li class="dynamic"><a href="{{ site.yt_flv_link }}" class="favicon">YouTube Music</a></li>
          <li class="dynamic"><a href="http://flylikevenus.com" class="favicon">Website</a></li>
        </ul>
      </li>

      <li class="manual music"><span>Pure Yellow Colour</span>
        <ul>
          <li class="dynamic"><a href="{{ site.bc_pyc_link }}" class="favicon">Bandcamp</a>
          <li class="dynamic"><a href="{{ site.sp_pyc_link }}" class="favicon">Spotify</a></li>
          <li class="dynamic"><a href="{{ site.am_pyc_link }}" class="favicon">Apple Music</a></li>
          <li class="dynamic"><a href="{{ site.yt_pyc_link }}" class="favicon">YouTube Music</a></li>
          <li class="dynamic"><a href="https://neb.host/audio/pyc" class="favicon">Website</a><span> (archive)</span></li>
        </ul>
      </li>

      <li class="dynamic"><a href="{{ site.bc_rc_link }}" class="favicon">Rusty Crab</a> (Bandcamp)</li>

      <li class="dynamic"><a href="https://soundcloud.com/massive-battery" class="favicon">Massive Battery</a><span> (electronic beats)</span></li>

      <li class="dynamic"><a href="https://www.freesound.org/people/nebyoolae/" class="favicon">FreeSound</a></li>

      <li class="dynamic"><a href="https://www.reverbnation.com/nebyoolae" class="favicon">Reverb Nation</a></li>

    </ul>

  </div>
</div>

<div class="row broadcasts">
  <div class="one-third column section-label">
    <h3>Broadcasts</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">

      <li class="dynamic">
        <a href="https://hackingthegrepson.podbean.com" class="favicon"><strong>Hacking the Grepson</strong></a>
        <ul class="apiData devPod">
          <li class="htgPod loader">
            {% include spinner.html %}
          </li>
          <li><a href="/podcasts/htg">Episode List</a></li>
          <li><a href="https://www.imdb.com/title/tt34920253">IMDB(!) Listing</a></li>
        </ul>
      </li>

      <li class="dynamic"><a href="https://neb.host/podcasts/quib" class="favicon">Quibblings</a> (archive)</li>

      <li class="dynamic"><a href="https://neb.host/podcasts/tem" class="favicon">The Escort Mission</a> (archive)</li>

    </ul>

  </div>
</div>

<div class="row visuals">
  <div class="one-third column section-label">
    <h3>Visuals</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">
      <li class="dynamic"><a href="https://creator.nightcafe.studio/u/nebyoolae" class="favicon">NightCafe (AI)</li>
    </ul>

  </div>
</div>

<div class="row writing">
  <div class="one-third column section-label">
    <h3>Writing</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">

      <li class="dynamic">
        <a href="/blog" class="favicon">Code, audio, and life blog</a>
        <ul class="apiData devblog">
          <li class="mcinfoBlog loader">
            {% include spinner.html %}
          </li>
        </ul>
      </li>

    </ul>

  </div>
</div>

<div class="row words">
  <div class="one-third column section-label">
    <h3>Words</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">

      <li class="dynamic">
        <a href="https://duolingo.com/profile/nebyoolae" class="favicon">Duolingo</a>
        <ul class="apiData duoData">
          <li class="duoInfo loader">
            {% include spinner.html %}
          </li>
        </ul>
      </li>

      <li class="dynamic"><a href="https://www.goodreads.com/user/show/30107693-michael-chadwick" class="favicon">Goodreads</a></li>

    </ul>

  </div>
</div>

<div class="row games">
  <div class="one-third column section-label">
    <h3>Games</h3>
  </div>
  <div class="two-thirds column section-content">

    <ul class="links">

      <li class="dynamic">
        <a href="https://steamcommunity.com/id/nebyoolae" class="favicon">Steam Community</a>
        <ul class="apiData steam">
          <li class="steamLastGamePlayed loader">
            {% include spinner.html %}
          </li>
        </ul>
      </li>

      <li class="dynamic"><a href="https://steamdb.info/calculator/76561197996970534/?cc=us" class="favicon">Steam Stats</a></li>

      <li class="dynamic"><a href="https://nintendo.com" class="favicon">Nintendo</a> <span class="detail">(Switch Code: SW-3634-4394-8313)</span></li>

      <li class="dynamic">
        <a href="https://boardgamegeek.com/user/nebyoolae" class="favicon">Board Game Geek</a>
        <ul class="apiData bgg">
          <li class="bggLastGamePlayed loader">
            {% include spinner.html %}
          </li>
        </ul>
      </li>

      <li class="dynamic"><a href="https://gamejolt.com/@nebyoolae" class="favicon">GameJolt</a></li>

      <li class="dynamic"><a href="https://nebyoolae.newgrounds.com" class="favicon">Newgrounds</a></li>

    </ul>

  </div>
</div>
