# dont track jekyll draft posts
blog/_drafts
# don't track template posts
blog/_posts/_*.md
# don't track unpublished posts
blog/_posts/*-PRIVATE.md
# don't track computed site files
_site

# don't track _test stuff
_test

# misc
bower_components
keybase*
.DS_Store
.deploy.sh
.jekyll-cache
.jekyll-metadata

# meta config files
dandelion.yml
Rakefile

# don't track backup files
*.bak

# DO track vendor CSS/JS files
# I currently have no way to bring them in otherwise
!assets/css/vendor
!assets/icons
!assets/js/vendor/
