---
title: Hacking the Grepson
layout: htg
style: htg
---
<h1>Hacking the Grepson Episodes</h1>
<a href="/projects#audio">&lt;&lt; back to projects</a>

<noscript>
  <p style="padding: 1em 0;">
    Hacking the Grepson episodes are pulled from a remote API via Javascript, but your device has disabled it. Thus...nada.
  </p>
</noscript>

<div class="apiData" id="episode-meta">
  {% include svg_loading.html %}
</div>

<div class="apiData" id="episode-filter-container">
  <input
    type="search"
    id="episode-filter-search"
    placeholder="Filter episode titles..."
  />
</div>

<div class="apiData" id="color-code-legend">
  <span class="green-short">🟩 short</span>
  <span class="yellow-medium">🟨 medium</span>
  <span class="red-long">🟥 long</span>
</div>

<div class="apiData" id="episode-list">
  {% include svg_loading.html %}
</div>