<footer id="site-footer">
  <nav id="site-bio">
    <div class="row">
      <!-- logo and summary -->
      <div class="four columns" id="logo-slogan">
        <a href="{{ site.home_relative_url }}" class="plain">
          <img
            src="/assets/images/mc-logo-53x60.png"
            alt="Michael Chadwick"
            title="Michael Chadwick"
          />
        </a>

        <p class="text">{{ site.description_html }}</p>
      </div>

      <!-- global links -->
      <div class="two columns">{% include global_links.html %}</div>

      <!-- social links -->
      <div class="three columns" id="social">
        <ul id="social-links">
          <li>
            <a href="{{ site.gh_link }}">
              <span class="icon github">{% include svg_gh.html %}</span>
              <span class="username">{{ site.gh_username }}</span>
            </a>
          </li>
          <li>
            <a rel="me" href="{{ site.linkedin_link }}">
              <span class="icon linkedin">{% include svg_linkedin.html %}</span>
              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- credits and donations -->
      <div class="three columns">{% include built_with.html %} {% include kofi.html %}</div>
    </div>
  </nav>
</footer>

<!-- JAVASCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- VENDOR -->
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.colorbox.min.js"></script>
<!-- CUSTOM -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/app/constants.js"></script>
<script type="text/javascript" src="/assets/js/app/desktop.js"></script>
<script type="text/javascript" src="/assets/js/app/utils.js"></script>
<!-- CUSTOM CONDITIONAL -->
{% if page.tags contains 'about' %}
<script type="text/javascript" src="/assets/js/app/page/about.js"></script>
{% endif %} {% if page.style == "site-api" %}
<!--
<script type="importmap">
  {
    "imports": {
      "axios": "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    }
  }
</script>
<script type="module" src="/assets/js/vendor/duolingo.js"></script>
-->
<script type="text/javascript" src="/assets/js/app/site-api.js"></script>
{% endif %} {% if page.style == "site-visibility" or page.style == "blog" or page.layout == "post"
%}
<script type="text/javascript" src="/assets/js/app/site-visibility.js"></script>
{% endif %}
<!-- CUSTOM -->
<script type="text/javascript" src="/assets/js/app/main.js"></script>
<!-- CUSTOM CONDITIONAL -->
{% if page.tags contains "tabdiv" or page.tags contains "vexflow" %}
<script type="text/javascript" src="/assets/js/vendor/vexflow/tabdiv.min.js"></script>
{% endif %}
<!-- CUSTOM CONDITIONAL -->
{% if page.style == "blog" %}
<script type="text/javascript" src="/assets/js/app/page/blog.js"></script>
{% endif %}
<!-- CUSTOM CONDITIONAL -->
{% if page.tags contains "resume-print" %}
<script type="text/javascript" src="/assets/js/app/layouts/resumes_print.js"></script>
{% endif %}
<!-- CUSTOM CONDITIONAL -->
{% if page.search %}
<script type="text/javascript" src="/assets/js/vendor/simple-jekyll-search.min.js"></script>
<script type="text/javascript" src="/assets/js/app/search.js"></script>
{% endif %}

<!-- CUSTOM CONDITIONAL -->
{% if page.tags contains 'fa' or post.tags contains 'fa' %}
<script type="text/javascript" src="/assets/js/vendor/fontawesome/fontawesome.min.js"></script>
{% endif %} {% if page.tags contains 'fa-brands' or post.tags contains 'fa-brands' %}
<script type="text/javascript" src="/assets/js/vendor/fontawesome/brands.min.js"></script>
{% endif %} {% if page.tags contains 'fa-solid' or post.tags contains 'fa-solid' %}
<script type="text/javascript" src="/assets/js/vendor/fontawesome/solid.min.js"></script>
{% endif %}
