<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{{ site.extra_title }}{% else %}{{ site.title }}{{ site.extra_title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/assets/css/vendor/skeleton.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/app.css">

  <!-- Favicons -->
  <link rel="favicon" href="/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/icon/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="/assets/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
