<header class="header-scrolled">
  <a href="/">
    <img src="/assets/images/mc-logo-sm.png"
      alt="Michael Chadwick"
      title="Michael Chadwick"
      class="logo-sm"
    />
  </a>

  <div class="site-meta">
    <span class="name"><a href="/">Michael Chadwick</a><br />
    <span class="desc">{{ site.description_short }}</span>
  </div>

  <div class="menu">
    <span class="projects"><a href="/projects">Projects</a></span>
    <span class="blog"><a href="/blog">Blog</a></span>
    <span class="about"><a href="/about">About</a></span>
  </div>
</header>
