<div class="head">Work History</div>
<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsfedit.png"><img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsfedit.png" alt="it.ucsf.edu" title="it.ucsf.edu">
    </a>
    <a href="https://it.ucsf.edu">UCSF - Education IT</a><br />
    <div class="url no-print">(it.ucsf.edu)</div>
    <div class="date">Apr 2024 &ndash; Present</div>
    <div class="location">Remote</div>
  </div>

  <div class="jobindent">
    Applications Programmer<br />
  </div>
  <ul>
    <li>Work with team to create, administer, and develop for multiple custom web applications</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsdsio.png"><img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsdsio.png" alt="scripps.ucsd.edu" title="scripps.ucsd.edu">
    </a>
    <a href="https://scripps.ucsd.edu">Scripps Institution of Oceanography</a><br />
    <div class="url no-print">(scripps.ucsd.edu)</div>
    <div class="date">May 2016 &ndash; Apr 2024</div>
    <div class="location">La Jolla, CA</div>
  </div>

  <div class="jobindent">
    Applications Programmer<br />
  </div>
  <ul>
    <li>Work with team to create, administer, and develop for multiple custom web applications, including Drupal 10, Wordpress, and a custom personnel database web app</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsdhealth.jpg"><img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsdhealth.jpg" alt="health.ucsd.edu" title="health.ucsd.edu">
    </a>
    <a href="https://health.ucsd.edu">UC San Diego Health System</a><br />
    <div class="url no-print">(health.ucsd.edu)</div>
    <div class="date">Jul 2009 &ndash; May 2016</div>
    <div class="location">San Diego, CA</div>
  </div>

  <div class="jobindent">
    Programmer/Analyst (Web Services)<br />
    <strong>May 2011 &ndash; May 2016</strong>
  </div>
  <ul>
    <li>
      Worked with team to create, administer and develop for custom SharePoint web applications used by thousands of employees
      <ul>
        <li>Administered mix of public and private SharePoint sites, ranging from SharePoint 2007 to 2013, and a handful of Classic ASP and other miscellaneous web applications</li>
        <li>Provided tech support for 30+ web/db/index Windows 2003/2008 servers and 5000+ user workstations</li>
        <li>Lead SharePoint site admin training classes</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Facilities and Hospitality Services via UCSD Temp Services)<br />
    <strong>Jul 2010 &ndash; May 2011</strong>
  </div>
  <ul>
    <li>Responsible for WSS 3.0 internal facilities website frontend and backend</li>
    <li>Responsible for frontend design for catering website built using C# and .NET</li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Information and Telecommunications Services via UCSD Temp Services)<br />
    <strong>Jul 2009 &ndash; Jul 2010</strong>
  </div>
  <ul>
    <li>Responsible for frontend design and backend programming for internal telecommunications website</li>
    <li>Responsible for frontend design and backend programming mockup of web paging system</li>
    <li>Customization of web-based database system</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_eselex.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_eselex.jpg" width="100" height="100" alt="e-Selex.com" title="e-Selex.com" />
    </a>
    <a href="https://e-selex.com">e-Selex.com</a><br />
    <div class="url no-print">(e-selex.com)</div>
    <div class="date">Nov. 14, 2005 &ndash; Jul. 24, 2009</div>
    <div class="location">San Diego, CA</div>
  </div>

  <div class="jobindent">Systems Technician / Web Developer</div>
  <ul>
    <li>Performed skilled repair and maintenance of all technology-related equipment</li>
    <li>Maintained several Windows- and Unix-based servers in-house and at datacenter</li>
    <li>Provided technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Purchased and setup hardware/software when needed</li>
    <li>Managed RAID and tape backups</li>
    <li>Created marketing/sales materials for both print and web</li>
    <li>Created/maintained Windows 2003 Active Directory domain</li>
    <li>Implemented RSA SecureID on LAN, workstations; hard drive-level encryption on laptops</li>
    <li>Administered and developed for main marketing websites, as well as other misc sites as needed</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://snappassociates.com">Snapp &amp; Associates Insurance Services, Inc.</a><br />
    <div class="url no-print">(snappins.com)</div>
    <div class="date">Jan 2003 &ndash; Nov 2005</div>
    <div class="location">San Diego, CA</div>
  </div>

  <div class="jobindent">
    Assistant to the IT Director<br />
    <strong>Apr 26, 2004 &ndash; Nov 11, 2005</strong>
  </div>
  <ul>
    <li>Performed skilled repair and maintenance of all technology-related equipment</li>
    <li>Provided technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Monitored, administered ~30-user LAN, satellite office with multiple remote users</li>
  </ul>

  <div class="jobindent">
    Production Assistant<br />
    <strong>Jan 2003 &ndash; Apr 26, 2004</strong>
  </div>
  <ul>
    <li>Administered Commence RM relational database</li>
    <li>Created website, brochures, and other marketing materials</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_alumni.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_alumni.jpg" width="100" height="100" alt="UCSD Alumni Association" title="UCSD Alumni Association" />
    </a>
    <a href="https://ucsd.edu">University of California, San Diego</a> - <a href="https://alumni.ucsd.edu">Alumni Relations</a><br />
    <div class="url no-print">(alumni.ucsd.edu)</div>
    <div class="date">Jan 2000 &ndash; Aug 2002</div>
    <div class="location">San Diego, CA</div>
  </div>

  <div class="jobindent">Webmaster</div>
  <ul>
    <li>Maintained and created new material for print and web</li>
    <li>Collaborated with co-workers on projects and website maintenance</li>
  </ul>
</div>

<div class="head">Education</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="https://ucsd.edu">University of California, San Diego</a><br />
    <div class="url no-print">(ucsd.edu)</div>
    <div class="date">Sep 1999 &ndash; Jun 2003</div>
  </div>

  <div class="jobindent">BA: Interdisciplinary Computing in the Arts (ICAM &ndash; Emphasis in Music and Music Technology)</div>
  <ul>
    <li>The ICAM program aims to create the next generation of artists in a world of increasing connectivity in art, music and technology.</li>
    <li>Cognitive Science minor - Study of the brain, behavior, and computation, fitting in with the ICAM program by rounding out artistic and technological merits with a basis in scientific study and research.</li>
  </ul>
</div>

<div class="head">Technical Skills</div>
<div class="jobdesc">

  <!-- dev tech -->
  <ul class="skills">
    <li class="first">Languages (Active)</li>
    <li class="first-next">PHP</li>
    <li>HTML/CSS/JS</li>
    <li>Python</li>
    <li>Ruby</li>
  </ul>
  <ul class="skills other">
    <li class="first">Languages (Familiar)</li>
    <li class="first-next">C#</li>
    <li>Go</li>
    <li>Lua</li>
    <li>Obj-C</li>
    <li>Powershell</li>
    <li>Swift</li>
  </ul>

  <!-- dev ides -->
  <ul class="skills">
    <li class="first">Development IDEs</li>
    <li class="first-next">Visual Studio (Code)</li>
    <li>Xcode</li>
  </ul>

  <!-- web frameworks -->
  <ul class="skills">
    <li class="first">Web Frameworks (Active)</li>
    <li class="first-next">Angular</li>
    <li>Ruby on Rails</li>
    <li>Symfony</li>
    <li>VueJS</li>
  </ul>
  <ul class="skills other">
    <li class="first">Web Frameworks (Familiar)</li>
    <li class="first-next">ASP.NET</li>
    <li>Django</li>
  </ul>

  <!-- web servers -->
  <ul class="skills">
    <li class="first">Web Server Software</li>
    <li class="first-next">Apache (XAMPP/MAMP/LAMP)</li>
    <li>Nginx</li>
    <li>IIS</li>
  </ul>

  <!-- dbs -->
  <ul class="skills">
    <li class="first">Database Systems</li>
    <li class="first-next">MySQL/MariaDB</li>
    <li>MongoDB</li>
    <li>MSSQL</li>
    <li>SQLite</li>
  </ul>

  <!-- cms -->
  <ul class="skills">
    <li class="first">Content Management</li>
    <li class="first-next">Drupal</li>
    <li>Wordpress</li>
  </ul>

  <!-- vcs -->
  <ul class="skills">
    <li class="first">Versioning Systems</li>
    <li class="first-next">Git</li>
    <li>RCS</li>
  </ul>

  <!-- project management -->
  <ul class="skills">
    <li class="first">Project Management</li>
    <li class="first-next">Atlassian (Jira/Confluence)</li>
    <li>Zendesk</li>
  </ul>

  <!-- img
  <ul class="skills">
    <li class="first">Image Manipulation</li>
    <li class="first-next">Adobe Photoshop</li>
    <li>Pixelmator Pro</li>
  </ul>
  -->

  <!-- os
  <ul class="skills">
    <li class="first">Operating Systems</li>
    <li class="first-next">Apple macOS and iOS</li>
    <li>Linux/Unix</li>
    <li>Microsoft Windows</li>
  </ul>
  -->

</div>

<div class="head no-print">Personal Development/Blogging</div>
<div class="jobdesc no-print">

  <ul>
    <li><a href="https://michaelchadwick.info/blog">https://michaelchadwick.info/blog</a> - code blogging</li>
    <li><a href="https://github.com/michaelchadwick">https://github.com/michaelchadwick</a> - open-source projects</li>
  </ul>

</div>
