<div class="head">Original Albums</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gamey_jumble.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gamey_jumble.png 72 %}" width="50" height="50" alt="Nebyoolae - Gamey Jumble" title="Nebyoolae - Gamey Jumble" /></a>
    <a href="{{ site.bc_neb_link }}/album/gamey-jumble">Gamey Jumble</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>May 12, 2025</em><br />
  </div>

  <div class="jobindent">Recording Artist/Engineer</div>
  <ul>
    <li>All guitars played and recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/fenchy-pennyfarthing_ep.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/fenchy-pennyfarthing_ep.jpg 72 %}" width="50" height="50" alt="Nebyoolae - pennyfarthing (EP)" title="Nebyoolae - pennyfarthing (EP)" /></a>
    <a href="{{ site.bc_fenchy_link }}/album/pennyfarthing-ep">pennyfarthing (EP)</a><br />
    (fenchy.bandcamp.com)<br />
    <em>February 28, 2025</em><br />
  </div>

  <div class="jobindent">Recording Artist/Engineer</div>
  <ul>
    <li>All guitars played and recorded live</li>
    <li>All vocals recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/satch20.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/satch20.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Satch 20" title="Nebyoolae - Satch 20" /></a>
    <a href="https://satch20.nebyoolae.com">Satch 20</a><br />
    (satch20.nebyoolae.com)<br />
    <em>December 6, 2024</em><br />
  </div>

  <div class="jobindent">Recording Artist/Engineer</div>
  <ul>
    <li>All guitars played and recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/just_a_goof.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/just_a_goof.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Just a Goof" title="Nebyoolae - Just a Goof" /></a>
    <a href="{{ site.bc_neb_link }}/album/just-a-goof">Just a Goof</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>October 5, 2024</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>All stringed instruments played and recorded live</li>
    <li>All vocals recorded live</li>
    <li>Sequenced in Logic Pro</li>
    <li><a href="https://www.youtube.com/playlist?list=PLV4gYcn4L8gKcuo9nluQD99X9GWQXzrW5">Video playlist on YouTube</a></li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/fenchy-sick_burn_ep.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/fenchy-sick_burn_ep.jpg 72 %}" width="50" height="50" alt="Fenchy - Sick Burn (EP)" title="Fenchy - Sick Burn (EP)" /></a>
    <a href="{{ site.bc_fenchy_link }}/album/sick-burn-ep">Sick Burn (EP)</a><br />
    (fenchy.bandcamp.com)<br />
    <em>August 10, 2024</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>All stringed instruments played and recorded live</li>
    <li>All vocals recorded live</li>
    <li>Sequenced in Logic Pro</li>
    <li><a href="https://www.youtube.com/playlist?list=PLV4gYcn4L8gKcuo9nluQD99X9GWQXzrW5">Video playlist on YouTube</a></li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/murky_music.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/murky_music.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Murky Music" title="Nebyoolae - Murky Music" /></a>
    <a href="{{ site.bc_neb_link }}/album/murky-music">Murky Music</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>November 11, 2023</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Mess of mysterious and melodic manufactured music</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/just_some_bits_ep.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/just_some_bits_ep.png 72 %}" width="50" height="50" alt="Nebyoolae - Just Some Bits (EP)" title="Nebyoolae - Just Some Bits (EP)" /></a>
    <a href="{{ site.bc_neb_link }}/album/just-some-bits-ep">Just Some Bits (EP)</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>December 29, 2022</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Chiptune covers of popular themes</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/fenchy-just_a_waste_ep.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/fenchy-just_a_waste_ep.jpg 72 %}" width="50" height="50" alt="Fenchy - Just a Waste (EP)" title="Fenchy - Just a Waste (EP)" /></a>
    <a href="{{ site.bc_fenchy_link }}/album/just-a-waste-ep">Just a Waste (EP)</a><br />
    (fenchy.bandcamp.com)<br />
    <em>October 22, 2022</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Various instrumental ideas, spanning my core genre interests</li>
    <li>All stringed instruments played and recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gavel-arm-storm.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gavel-arm-storm.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Gavel Arm Storm (EP)" title="Nebyoolae - Gavel Arm Storm (EP)" /></a>
    <a href="{{ site.bc_neb_link }}/album/gavel-arm-storm">Gavel Arm Storm (EP)</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 14, 2022</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Various instrumental ideas, spanning my core genre interests</li>
    <li>All stringed instruments played and recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/thanks_for_all_the_chips.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/thanks_for_all_the_chips.png 72 %}" width="50" height="50" alt="Nebyoolae - Thanks For All The Chips" title="Nebyoolae - Thanks For All The Chips" /></a>
    <a href="{{ site.bc_neb_link }}/album/thanks-for-all-the-chips">Thanks For All The Chips</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>March 1, 2022</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of chiptune covers and remixes for <a href="https://rpmchallenge.com">RPM Challenge</a> 2022</li>
    <li>Sequenced synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gamey_goulash.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gamey_goulash.png 72 %}" width="50" height="50" alt="Nebyoolae - Gamey Goulash" title="Nebyoolae - Gamey Goulash" /></a>
    <a href="{{ site.bc_neb_link }}/album/gamey-goulash">Gamey Goulash</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>July 7, 2021</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of electronic/rock covers and remixes of video game tracks</li>
    <li>Played all stringed instruments</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/composer_quests.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/composer_quests.png 72 %}" width="50" height="50" alt="Nebyoolae - Composer Quests" title="Nebyoolae - Composer Quests" /></a>
    <a href="{{ site.bc_neb_link }}/album/composer-quests">Composer Quests</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>May 6, 2021</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Challenges from the <a href="https://podcasts.apple.com/us/podcast/composer-quest-a-songwriting-and-music/id591011957">Composer Quest podcast</a></li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/upgrade.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/upgrade.png 72 %}" width="50" height="50" alt="Nebyoolae - Upgrade" title="Nebyoolae - Upgrade" /></a>
    <a href="{{ site.bc_neb_link }}/album/upgrade">Upgrade</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>May 5, 2021</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Upgraded versions of old dance tracks with my modern audio stack</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/while_you_rest.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/while_you_rest.png 72 %}" width="50" height="50" alt="Nebyoolae - While You Rest" title="Nebyoolae - While You Rest" /></a>
    <a href="{{ site.bc_neb_link }}/album/while-you-rest">While You Rest</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 5, 2021</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Instrumentals</li>
    <li>All stringed instruments played and recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/nanules.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/nanules.png 72 %}" width="50" height="50" alt="Nebyoolae - Nanules" title="Nebyoolae - Nanules" /></a>
    <a href="{{ site.bc_neb_link }}/album/nanules">Nanules</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>February 16, 2021</em><br />
  </div>

  <div class="jobindent">Composer/Engineer</div>
  <ul>
    <li>Instrumental EDM done via <a href="https://www.blipinteractive.co.uk/nanostudio1/">Nanostudio</a></li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/fenchy-bgor.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/fenchy-bgor.jpg 72 %}" width="50" height="50" alt="Fenchy - Billion Grains of Rice" title="Fenchy - Billion Grains of Rice" /></a>
    <a href="{{ site.bc_fenchy_link }}/album/billion-grains-of-rice">Billion Grains of Rice</a><br />
    (fenchy.bandcamp.com)<br />
    <em>November 29, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>All stringed instruments played and recorded live</li>
    <li>All vocals recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/hindslight.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/hindslight.png 72 %}" width="50" height="50" alt="Nebyoolae - Hindslight" title="Nebyoolae - Hindslight" /></a>
    <a href="{{ site.bc_neb_link }}/album/hindslight">Hindslight</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>October 16, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Instrumental rock</li>
    <li>All stringed instruments played and recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/fenchy-drama_nerd_ep.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/fenchy-drama_nerd_ep.jpg 72 %}" width="50" height="50" alt="Fenchy - Drama Nerd (EP)" title="Fenchy - Drama Nerd (EP)" /></a>
    <a href="{{ site.bc_neb_link }}/album/drama-nerd-ep">Drama Nerd (EP)</a><br />
    (fenchy.bandcamp.com)<br />
    <em>October 13, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>All stringed instruments played and recorded live</li>
    <li>All vocals recorded live</li>
    <li>Sequenced in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/other_peoples_music.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/other_peoples_music.png 72 %}" width="50" height="50" alt="Nebyoolae - OPM (Other People's Music)" title="Nebyoolae - OPM (Other People's Music)" /></a>
    <a href="{{ site.bc_neb_link }}/album/opm">OPM</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 2, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Covers, remixes, and other minutia inspired by other people's music</li>
    <li>All stringed instruments played and recorded live</li>
    <li>Sequenced sampled instruments and synths in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/because_reasons.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/because_reasons.png 72 %}" width="50" height="50" alt="Nebyoolae - Because Reasons" title="Nebyoolae - Because Reasons" /></a>
    <a href="{{ site.bc_neb_link }}/album/because-reasons">Because Reasons</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>May 20, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>B-sides, singles, and other minutia that didn't fit on a proper album</li>
    <li>Sequenced sampled instruments and synths in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/massive_battery-entreaties.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/massive_battery-entreaties.png 72 %}" width="50" height="50" alt="Massive Battery - Entreaties" title="Massive Battery - Entreaties" /></a>
    <a href="https://soundcloud.com/massive-battery/sets/entreaties">Entreaties</a><br />
    (soundcloud.com)<br />
    <em>May 9, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Only instruments used: Native Instruments' Massive and Battery, and lots of vocal samples</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/fenchy-puttery.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/fenchy-puttery.jpg 72 %}" width="50" height="50" alt="Fenchy - Puttery" title="Fenchy - Puttery" /></a>
    <a href="{{ site.bc_fenchy_link }}/album/puttery">Puttery</a><br />
    (fenchy.bandcamp.com)<br />
    <em>April 30, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Created for the <a href="https://rpmchallenge.com">RPM Challenge</a>, April 2020</li>
    <li>All stringed instruments played and vocals sung</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/massive_battery-sound_blaster.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/massive_battery-sound_blaster.png 72 %}" width="50" height="50" alt="Massive Battery - Sound Blaster" title="Massive Battery - Sound Blaster" /></a>
    <a href="https://soundcloud.com/massive-battery/sets/sound-blaster">Sound Blaster</a><br />
    (soundcloud.com)<br />
    <em>February 1, 2020</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Only instruments used: Native Instruments' Massive and Battery, and lots of vocal samples</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/massive_battery-recharged.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/massive_battery-recharged.png 72 %}" width="50" height="50" alt="Massive Battery - Recharged" title="Massive Battery - Recharged" /></a>
    <a href="https://soundcloud.com/massive-battery/recharged">Recharged</a><br />
    (soundcloud.com)<br />
    <em>December 25, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Only instruments used: Native Instruments' Massive and Battery, and lots of vocal samples</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/massive_battery-uncharged.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/massive_battery-uncharged.png 72 %}" width="50" height="50" alt="Massive Battery - Uncharged" title="Massive Battery - Uncharged" /></a>
    <a href="https://soundcloud.com/massive-battery/sets/uncharged">Uncharged</a><br />
    (soundcloud.com)<br />
    <em>November 16, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Only instruments used: Native Instruments' Massive and Battery, and lots of vocal samples</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/massive_battery-subcharged.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/massive_battery-subcharged.png 72 %}" width="50" height="50" alt="Massive Battery - Subcharged" title="Massive Battery - Subcharged" /></a>
    <a href="https://soundcloud.com/massive-battery/sets/subcharged">Subcharged</a><br />
    (soundcloud.com)<br />
    <em>October 10, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Only instruments used: Native Instruments' Massive and Battery, and lots of vocal samples</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/soothe_the_savage_beats.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/soothe_the_savage_beats.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Soothe the Savage Beats" title="Nebyoolae - Soothe the Savage Beats" /></a>
    <a href="{{ site.bc_neb_link }}/album/soothe-the-savage-beats">Soothe the Savage Beats</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 9, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Fast-paced rocktronica (rock + electronica)</li>
    <li>Experimenting with vocal samples and synthesized vocal tools</li>
    <li>Sequenced sampled instruments and synths in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/while_you_wait.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/while_you_wait.jpg 72 %}" width="50" height="50" alt="Nebyoolae - While You Wait" title="Nebyoolae - While You Wait" /></a>
    <a href="{{ site.bc_neb_link }}/album/while-you-wait">While You Wait</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>July 30, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of peaceful, and often contemplative, instrumental tracks</li>
    <li>Played all stringed instruments</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/rorasuketo_ost.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/rorasuketo_ost.png 72 %}" width="50" height="50" alt="Nebyoolae - Rorasuketo OST" title="Nebyoolae - Rorasuketo OST" /></a>
    <a href="{{ site.bc_neb_link }}/album/rorasuketo-ost">Rorasuketo OST</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>June 30, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Soundtrack for friend's video game</li>
    <li>Inspired by and orchestrated with classic SNES sounds</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gamey_amalgam.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gamey_amalgam.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Gamey Amalgam" title="Nebyoolae - Gamey Amalgam" /></a>
    <a href="{{ site.bc_neb_link }}/album/gamey-amalgam">Gamey Amalgam</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 5, 2019</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of electronic/rock covers and remixes of video game tracks</li>
    <li>Played all stringed instruments</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/waymu_zoo.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/waymu_zoo.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Waym&uuml; Zoo" title="Nebyoolae - Waym&uuml; Zoo" /></a>
    <a href="{{ site.bc_neb_link }}/album/waymu-zoo">Waym&uuml; Zoo</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 8, 2018</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Short collection of inauthentic East Asian dance tracks</li>
    <li>Composed, sequenced, and mixed in Garageband on an iPad</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/close_to_the_metal.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/close_to_the_metal.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Close to the Metal" title="Nebyoolae - Close to the Metal" /></a>
    <a href="{{ site.bc_neb_link }}/album/close-to-the-metal">Close to the Metal</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>July 10, 2017</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Several remix/covers, all using tracks from NES games starting with "Metal"</li>
    <li>Composed, sequenced, and mixed in Logic Pro X</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/quoth_the_raven.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/quoth_the_raven.png 72 %}" width="50" height="50" alt="Nebyoolae - Quoth the Raven" title="Nebyoolae - Quoth the Raven" /></a>
    <a href="{{ site.bc_neb_link }}/album/quoth-the-raven-drupalcon-2017-baltimore-ost">Quoth the Raven (DrupalCon 2017 Baltimore OST)</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 28, 2017</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>6-song EP inspired by my time at DrupalCon 2017 in Baltimore, MD</li>
    <li>One track written each day of the conference</li>
    <li>Composed, sequenced, and mixed in Logic Pro X</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gray.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gray.png 72 %}" width="50" height="50" alt="Nebyoolae - Gray" title="Nebyoolae - Northwest Gray" /></a>
    <a href="{{ site.bc_neb_link }}/album/gray">Gray</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>January 22, 2017</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>5-song EP about anything and nothing</li>
    <li>Synths and samples</li>
    <li>Composed, sequenced, and mixed in Logic Pro X</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/northwest_passage.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/northwest_passage.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Northwest Passage" title="Nebyoolae - Northwest Passage" /></a>
    <a href="{{ site.bc_neb_link }}/album/northwest-passage">Northwest Passage</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>October 5, 2015</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Alaskan vacation city themes</li>
    <li>Composed, sequenced, and mixed entirely on GarageBand for iOS</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/quibblings_ost.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/quibblings_ost.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Quibblings OST" title="Nebyoolae - Quibblings OST" /></a>
    <a href="{{ site.bc_neb_link }}/album/quibblings-ost">Quibblings (OST)</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 3, 2015</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Podcast cues</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/lullabies.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/lullabies.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Lullabies" title="Nebyoolae - Lullabies" /></a>
    <a href="{{ site.bc_neb_link }}/album/lullabies">Lullabies</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>December 7, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Short solo acoustic guitar pieces</li>
    <li>One piece per major key (plus 3 additional ones for some accidental keys)</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/dumeh.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/dumeh.png 72 %}" width="50" height="50" alt="Nebyoolae - Dumeh in Cm, Op. 1, No. 1" title="Nebyoolae - Dumeh in Cm, Op. 1, No. 1" /></a>
    <a href="{{ site.bc_neb_link }}/album/dumeh-in-cm-op-1-no-1">Dumeh in Cm, Op. 1, No. 1</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>September 22, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Orchestral piece (powered by virtual instruments) in a traditional sonata (fast-slow-fast) form</li>
    <li>Culmination of over a decade of on-and-off composition and rewriting</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/soundtrack_to_a_life.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/soundtrack_to_a_life.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Soundtrack to a Life EP" title="Nebyoolae - Soundtrack to a Life EP" /></a>
    <a href="{{ site.bc_neb_link }}/album/soundtrack-to-a-life-ep">Soundtrack to a Life EP</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>September 7, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Thematic pieces composed for personal travel videos amassed into one collection</li>
    <li>Played all stringed instruments</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/marcos_minefield_ost.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/marcos_minefield_ost.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Marco's Minefield OST" title="Nebyoolae - Marco's Minefield OST" /></a>
    <a href="{{ site.bc_neb_link }}/album/marcos-minefield-ost">Marco's Minefield OST</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>June 6, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Original soundtrack composed for Game Jolt Entry: <a href="https://gamejolt.com/games/puzzle/marco-s-minefield/27291/">Marco's Minefield</a></li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/music_for_things.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/music_for_things.png 72 %}" width="50" height="50" alt="Nebyoolae - Music For Things" title="Nebyoolae - Music For Things" /></a>
    <a href="{{ site.bc_neb_link }}/album/music-for-things">Music For Things</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>May 7, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Various tracks written and recorded for other people's projects</li>
    <li>Played all stringed instruments</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/the_escort_mission_ost.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/the_escort_mission_ost.jpg 72 %}" width="50" height="50" alt="Nebyoolae - The Escort Mission OST" title="Nebyoolae - The Escort Mission OST" /></a>
    <a href="{{ site.bc_neb_link }}/album/the-escort-mission-ost">The Escort Mission OST</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 10, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Variations on two themes written for a podcast</li>
    <li>Played all stringed instruments</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/vox_venio_ost.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/vox_venio_ost.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Vox Venio" title="Nebyoolae - Vox Venio" /></a>
    <a href="{{ site.bc_neb_link }}/album/vox-venio-ost">Vox Venio OST</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>April 8, 2014</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Soundtrack of lo-fi electronic rock for unfinished video game</li>
    <li>Composed and sequenced primarily on <a href="https://blipinteractive.co.uk/">Nanostudio</a></li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gamey_stew.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gamey_stew.png 72 %}" width="50" height="50" alt="Nebyoolae - Gamey Stew" title="Nebyoolae - Gamey Stew" /></a>
    <a href="{{ site.bc_neb_link }}/album/gamey-stew">Gamey Stew</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>October 16, 2013</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of electronic/rock covers and remixes of video game tracks</li>
    <li>Played all stringed instruments</li>
    <li>Sequenced samples/synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/rok_musik.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/rok_musik.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Rok Muzik" title="Nebyoolae - Rok Muzik" /></a>
    <a href="{{ site.bc_neb_link }}/album/rok-muzik">Rok Muzik</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>February 9, 2013</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of electronic pieces</li>
    <li>Older projects that were done during M.U.S.I.K. sessions, updated with better understanding of Logic</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/pushing_hands.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/pushing_hands.png 72 %}" width="50" height="50" alt="Nebyoolae - Pushing Hands (OST)" title="Nebyoolae - Pushing Hands (OST)" /></a>
    <a href="{{ site.bc_neb_link }}/album/pushing-hands-ost">Pushing Hands (OST)</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>December 20, 2012</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Mini-EP of laid-back electronic tunes for puzzle game soundtrack</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/stringing_you_along.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/stringing_you_along.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Stringing You Along" title="Nebyoolae - Stringing You Along" /></a>
    <a href="{{ site.bc_neb_link }}/album/stringing-you-along">Stringing You Along</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 28, 2012</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Collection of solo acoustic guitar pieces</li>
    <li>Most selections are covers, but four are originals</li>
    <li>Created mainly to be a portfolio of sorts to use for future clients</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/zoetic.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/zoetic.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Zoetic" title="Nebyoolae - Zoetic" /></a>
    <a href="{{ site.bc_neb_link }}/album/zoetic">Zoetic</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>March 1, 2012</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Wrote and recorded an instrumental rock album</li>
    <li>All guitars and bass guitars were recorded live</li>
    <li>Drums are sampled from Toontrack's Superior Drummer library</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/impulse.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/impulse.png 72 %}" width="50" height="50" alt="Nebyoolae - Impulse (OST)" title="Nebyoolae - Impulse (OST)" /></a>
    <a href="{{ site.bc_neb_link }}/album/impulse-ost">Impulse (OST)</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>March 1, 2012</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Contributed several short themes in an ambient/electronica style to be included in a free indie game</li>
    <li>Largely synth based, utilizing CamelAudio's Alchemy Player and sounds</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/gamey_mixture.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/gamey_mixture.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Gamey Mixture" title="Nebyoolae - Gamey Mixture" /></a>
    <a href="{{ site.bc_neb_link }}/album/gamey-mixture">Gamey Mixture</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>September 10, 2010</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Remixed video game themes from NES, Game Boy, and SNES in new styles</li>
    <li>Styles range from instrumental guitar rock to electronic dance</li>
    <li>Recorded all guitar, bass, and vocals</li>
    <li>Sequenced drums and synths</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/the_matic.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/the_matic.jpg 72 %}" width="50" height="50" alt="Nebyoolae - The Matic" title="Nebyoolae - The Matic" /></a>
    <a href="{{ site.bc_neb_link }}/album/the-matic">The Matic</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 27, 2010</em><br />
  </div>

  <div class="jobindent">Composer/Recording Artist/Engineer</div>
  <ul>
    <li>Wrote short themes in a classical/orchestral style</li>
    <li>Created short videos of varying subjects to sync with particular theme</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/majicking.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/majicking.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Majicking" title="Nebyoolae - Majicking" /></a>
    <a href="{{ site.bc_neb_link }}/albums/majicking">Majicking</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>September 22, 2009</em><br />
  </div>

  <div class="jobindent">Composer/Engineer</div>
  <ul>
    <li>Fast-paced rocktronica (rock + electronica)</li>
    <li>Sequenced sampled instruments and synths in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/average_town.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/average_town.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Average Town" title="Nebyoolae - Average Town" /></a>
    <a href="{{ site.bc_neb_link }}/albums/average-town">Average Town</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>February 9, 2009</em><br />
  </div>

  <div class="jobindent">Composer/Engineer</div>
  <ul>
    <li>Nostalgic, lo-fi, NES-style compositions</li>
    <li>Sequenced square, triangle, sine waves, and ADSR-enveloped white noise in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/ebben_flow.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/ebben_flow.jpg 72 %}" width="50" height="50" alt="Nebyoolae - Ebben Flow (OST)" title="Nebyoolae - Ebben Flow (OST)" /></a>
    <a href="{{ site.bc_neb_link }}/album/ebben-flow-ost">Ebben Flow (Original Soundtrack)</a><br />
    (ef.nebyoolae.com)<br />
    <em>July 8, 2008</em><br />
  </div>

  <div class="jobindent">Composer/Engineer</div>
  <ul>
    <li>Created themes for various stereotypical RPG cues (battle, characters, etc.)</li>
    <li>Sequenced samples, synths, and effects in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/primary.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/primary.jpg 72 %}" width="50" height="50" alt="Pure Yellow Colour - Primary" title="Pure Yellow Colour - Primary" /></a>
<em>Primary</em> (<a href="https://phobos.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=279571887&amp;s=143441">iTunes</a>)(<a href="https://www.amazon.com/Primary/dp/B001AI0VO6/ref=dmusic_cd_album?ie=UTF8&amp;qid=1218138665&amp;sr=8-3">AmazonMP3</a>)(<a href="https://cdbaby.com/cd/pureyellowcolour">CD Baby</a>)<br />
    <a href="https://nebyoolae.com/pyc">Pure Yellow Colour</a><br />
    (pureyellow.net)<br />
    <em>April 10, 2008</em><br />
  </div>

  <div class="jobindent">Guitarist/Bassist/Co-composer/Engineer</div>
  <ul>
    <li>Played guitar and bass</li>
    <li>Handled recording of all parts</li>
    <li>Sequenced guitar, drums, drums, vocals and other effects in Logic Pro</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/musik_2006.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/musik_2006.jpg 72 %}" width="50" height="50" alt="Nebyoolae - M.U.S.I.K. 2006" title="Nebyoolae - M.U.S.I.K. 2006" /></a>
    Music Unsolicitedly Started Idiosyncratically for Karma (M.U.S.I.K.)<br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 1, 2006 &ndash; August 31, 2006</em><br />
  </div>

  <div class="jobindent">Guitarist/Bassist/Vocalist/Engineer</div>
  <ul>
    <li>Recorded one piece of music each day for an entire month</li>
    <li>Most songs sequenced in Logic Pro 5, some in free audio editor Audacity</li>
    <li>Most pieces featured either acoustic or electric guitar</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/musik_2003.jpg">
    <img src="{% thumbnail_img /assets/images/resumes/mus/musik_2003.jpg 72 %}" width="50" height="50" alt="Nebyoolae - M.U.S.I.K. 2003" title="Nebyoolae - M.U.S.I.K. 2003" /></a>
    Music Unsolicitedly Started Idiosyncratically for Karma (M.U.S.I.K.)<br />
    (nebyoolae.bandcamp.com)<br />
    <em>October 1, 2003 &ndash; October 31, 2003</em><br />
  </div>

  <div class="jobindent">Guitarist/Bassist/Vocalist/Engineer</div>
  <ul>
    <li>Recorded one piece of music each day for an entire month</li>
    <li>Most songs sequenced in Logic Pro 5, some in free audio editor Audacity</li>
    <li>Most pieces featured either acoustic or electric guitar</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/clocks_striking_13.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/clocks_striking_13.png 72 %}" width="50" height="50" alt="Nebyoolae - Clocks Striking 13" title="Nebyoolae - Clocks Striking 13" /></a>
    <a href="{{ site.bc_neb_link }}/album/clocks-striking-13">Clocks Striking 13</a><br />
    (nebyoolae.bandcamp.com)<br />
    <em>August 1, 2002 &ndash; August 31, 2002</em><br />
  </div>

  <div class="jobindent">Guitarist/Bassist/Engineer</div>
  <ul>
    <li>Original instrumental guitar rock album</li>
    <li>Sequenced guitar, bass, drums in Cakewalk Guitar Tracks</li>
    <li>Songs written over several years; album recorded in one month</li>
  </ul>
</div>

<div class="head">Contributions</div>
<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/mus/vir_heroicus_eiaa.png">
    <img src="{% thumbnail_img /assets/images/resumes/mus/vir_heroicus_eiaa.png 72 %}" width="50" height="50" alt="Vir Heroicus - Everyone is an Artist" title="Vir Heroicus - Everyone is an Artist" /></a>
"Wild Beast" - <a href="https://bandcamp.zhaytee.net">Joseph Toscano</a><br />
    <strong><a href="https://bandcamp.zhaytee.net/album/vir-heroicus">Vir Heroicus</a> - Everyone is An Artist</strong><br />
    (virheroicus.com)<br />
    <em>July 3rd, 2008</em><br />
  </div>

  <div class="jobindent">Guitarist/Co-composer/Co-engineer</div>
  <ul>
    <li>Contributed guitar recording as well as musical progression</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    &quot;Santa Monica&quot; - <a href="https://mikemusic.com">Michael Shapiro</a><br />
    <strong><a href="https://natalienicolegilbert.com">Natalie Nicole Gilbert</a> - Slip of the Tongue</strong><br />
    <em>2005 demo</em> (single released 2010)<br />
  </div>

  <div class="jobindent">Guitarist</div>
  <ul>
    <li>Contributed acoustic guitar rhythm/lead idea for song</li>
  </ul>
</div>

<div class="head">Performance Experience</div>
<div class="jobdesc">
  <div class="jobname">
    Private Alumni Reception<br />
    UCSD, San Diego, CA<br />
    <em>June 2014</em>
  </div>

  <ul>
    <li>Played guitar for private reception</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Private Wedding Reception<br />
    Rancho Bernardo Inn, San Diego, CA<br />
    <em>May 2013</em>
  </div>

  <ul>
    <li>Played guitar for private reception</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Private Wedding Ceremony<br />
    Hyatt Mission Bay, San Diego, CA<br />
    <em>July 2012</em>
  </div>

  <ul>
    <li>Played guitar for private ceremony</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Private Wedding Ceremony<br />
    Stone Brewing Company, Escondido, CA <br />
    <em>October 2010</em>
  </div>

  <ul>
    <li>Played guitar with singer for private ceremony</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Private Wedding Ceremony<br />
    The Abbey, San Diego, CA<br />
    <em>October 2009</em>
  </div>

  <ul>
    <li>Played guitar for private ceremony</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://nebyoolae.com/pyc">Pure Yellow Colour</a><br />
    (nebyoolae.com/pyc)<br />
    <em>July 2006 &ndash; April 2008</em>
  </div>

  <ul>
    <li>Play guitar with other guitarist/singer/songwriter</li>
    <li>Practice original songs as well as covers; many jam sessions</li>
    <li>Two single-billing concerts performed; 20+ open-mic appearances</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Russyoolae<br />
    <em>2006 &ndash; current</em>
  </div>

  <ul>
    <li>Play guitar or bass with drummer (very rarely with keyboardist, as well) in jam sessions</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Minor Flooding<br />
    <em>2002 &ndash; 2004</em>
  </div>

  <ul>
    <li>Played guitar with other guitarist/singer/songwriter, drummer, various others</li>
    <li>Practiced original songs as well as covers; many jam sessions</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Impromptu Guitar Teaching<br />
    <em>1999 &ndash; current</em><br />
  </div>

  <ul>
    <li>Occasionally teach guitar to friends when asked</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Eastlake Community Church Youth Group<br />
    <em>1997 &ndash; 1999</em><br />
  </div>

  <ul>
    <li>Played acoustic and electric guitar in band with other guitarists, bassists, drummer, keyboardist, singers</li>
    <li>Practiced and played once a week for youth group</li>
    <li>Performed with morning church service for special Easter program</li>
  </ul>
</div>

<div class="head">Work History</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="https://californiamusicstudios.com">California Music Studios</a><br />
    (californiamusicstudios.com)<br />
    Carlsbad, CA<br />
    <em>Apr 2006 &ndash; Jan 2007</em><br />
  </div>

  <div class="jobindent">Private Guitar Tutor Contractor</div>
  <ul>
    <li>Taught several students simultaneously in-house, as well as in private residences</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Self-Employed<br />
    San Diego, CA<br />
    <em>May 2004 &ndash; Jul 2004</em><br />
  </div>

  <div class="jobindent">Private Guitar Tutor for Mathew Crawford<br /><br /></div>
</div>

<div class="head">Education</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="https://ucsd.edu">University of California San Diego</a><br />
    (ucsd.edu)<br />
    San Diego, CA<br />
    <em>Sep 1999 &ndash; June 2003</em><br />
  </div>

  <ul>
    <li>BA Interdisciplinary Computing in the Arts (Music Emphasis)</li>
    <li>Minor in Cognitive Science</li>
  </ul>
</div>

<div class="head">Technical Skills</div>
<div class="jobdesc">
  <strong>Audio Production/Sequencing Editors</strong><br />
  <ul>
    <li>Apple: Garageband, Logic Studio</li>
    <li>Audacity</li>
    <li>Nanostudio (iOS)</li>
    <li>Pro Tools</li>
    <li>Steinberg Cubase</li>
  </ul>
</div>

<div class="head">Personal Websites</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="{{ site.bc_neb_link }}">Bandcamp</a><br />
    (nebyoolae.bandcamp.com)<br />
  </div>

  <ul>
    <li>Bandcamp site with all major releases</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://soundcloud.com/nebyoolae">Soundcloud (Nebyoolae)</a><br />
    (soundcloud.com)<br />
  </div>

  <ul>
    <li>Soundcloud profile with non-official singles</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://soundcloud.com/massive-battery">Soundcloud (Massive Battery)</a><br />
    (soundcloud.com)<br />
  </div>

  <ul>
    <li>Soundcloud profile with singles and albums from side project, Massive Battery</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://neb.host/audio/pyc">Pure Yellow Colour</a><br />
    (neb.host)<br />
  </div>

  <ul>
    <li>Features news blog, show list, image gallery, song lyrics for past indie rock band</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://neb.host/audio/mcj">Man Cave Jam</a><br />
    (neb.host)<br />
  </div>

  <ul>
    <li>Features sample jams from group of friends</li>
  </ul>
</div>
