<div class="head">Work History</div>
<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsdsio.png"><img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsdsio.png" alt="scripps.ucsd.edu" title="scripps.ucsd.edu">
    </a>
    <a href="https://scripps.ucsd.edu">Scripps Institution of Oceanography</a><br />
    (scripps.ucsd.edu)<br />
    <em>May 2016 &ndash; Present</em><br />
    La Jolla, CA<br />
  </div>

  <div class="jobindent">
    Applications Programmer<br />
  </div>
  <ul>
    <li>Work with web team to create, administer, and develop for custom web applications</li>
    <li>Administer and develop for multiple Drupal 7 and 9 sites</li>
    <ul>
      <li>Major upgrades
        <ul>
          <li>Flagship Drupal 7 site to Drupal 8 (and now 9)
            <ul>
              <li>Local development with DDEV</li>
            </ul>
          </li>
          <li>Custom PHP site to Drupal 8 (and now 9)</li>
          <li>Custom PHP site to Angular/Symfony/MongoDB
            <ul>
              <li>Personnel database web app using Angular, Symfony, and MongoDB, all hosted in Docker containers</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Multiple Wordpress multisites with 100+ subsites</li>
    </ul>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsdhealth.jpg"><img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsdhealth.jpg" alt="health.ucsd.edu" title="health.ucsd.edu">
    </a>
    <a href="https://health.ucsd.edu">UC San Diego Health System</a><br />
    (health.ucsd.edu)<br />
    <em>Jul 2009 &ndash; May 2016</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">
    Programmer/Analyst (Web Services)<br />
    <strong>May 2011 &ndash; May 2016</strong>
  </div>
  <ul>
    <li>
      Worked with team to create, administer and develop for custom SharePoint web applications
      <ul>
        <li>Administered and supported a mix of public and private SharePoint sites, ranging from SharePoint 2007 to 2013, and a handful of Classic ASP and other miscellaneous web applications</li>
        <li>Administered and supported large internal SharePoint 2013 web application used by thousands of employees</li>
        <li>Created and maintained several custom SharePoint web parts using C# in Visual Studio</li>
        <li>Provided tech support for 30+ web/db/index Windows 2003/2008 servers</li>
        <li>Provided tech support for 5000+ user workstations</li>
        <li>Lead SharePoint site admin training classes</li>
        <li>Created and maintained several custom Powershell scripts (and modules) for server administration</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Facilities and Hospitality Services via UCSD Temp Services)<br />
    <strong>Jul 2010 &ndash; May 2011</strong>
  </div>
  <ul>
    <li>
      Responsible for front-end design and back-end programming for internal facilities website
      <ul>
        <li>Created website using Windows SharePoint Services 3.0</li>
        <li>Added web/server controls customized using C#</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>
      Responsible for front-end design for catering website
      <ul>
        <li>Modified website using ASP.NET</li>
        <li>Customized front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Information and Telecommunications Services via UCSD Temp Services)<br />
    <strong>Jul 2009 &ndash; Jul 2010</strong>
  </div>
  <ul>
    <li>
      Responsible for front-end design and back-end programming for internal telecommunications website
      <ul>
        <li>Created website using Visual Studio 2008</li>
        <li>Added web/server controls customized using C#, including web form with file upload</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>
      Responsible for front-end design and back-end programming mockup of web paging system
      <ul>
        <li>Created web application using Visual Studio 2008</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>Responsible for SharePoint mockup of internal telecommunications website</li>
    <li>Customization of web-based database system (XHTML, CSS, Javascript, Classic ASP)</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_eselex.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_eselex.jpg" width="100" height="100" alt="e-Selex.com" title="e-Selex.com" />
    </a>
    <a href="https://e-selex.com">e-Selex.com</a><br />
    (e-selex.com)<br />
    <em>Nov. 14, 2005 &ndash; Jul. 24, 2009</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Systems Technician</div>
  <ul>
    <li>Performed skilled repair and maintenance of all technology-related equipment</li>
    <li>Maintained several Windows- and Unix-based servers in-house and at datacenter</li>
    <li>Provided technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Purchased and setup hardware/software when needed</li>
    <li>Managed RAID and tape backups</li>
    <li>Created marketing/sales materials for both print and web</li>
    <li>Created/maintained Windows 2003 Active Directory domain</li>
    <li>Implemented RSA SecureID on LAN, workstations; hard drive-level encryption on laptops</li>
  </ul>
  <div class="jobindent">Web Developer</div>
  <ul>
    <li>Primary: <a href="https://www.e-selex.com">https://www.e-selex.com</a> (all aspects)</li>
    <li>Secondary: <a href="https://www.smartselex.com">https://www.smartselex.com</a> (design)</li>
    <li>Tertiary: secure file transfer, marketing/demo, various other web applets</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://snappassociates.com">Snapp &amp; Associates Insurance Services, Inc.</a><br />
    (snappins.com)<br />
    <em>Jan 2003 &ndash; Nov 2005</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">
    Assistant to the IT Director<br />
    <strong>Apr 26, 2004 &ndash; Nov 11, 2005</strong>
  </div>
  <ul>
    <li>Performed skilled repair and maintenance of all technology-related equipment</li>
    <li>Provided technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Monitored, administered ~30-user LAN, satellite office with multiple remote users</li>
  </ul>

  <div class="jobindent">
    Production Assistant<br />
    <strong>Jan 2003 &ndash; Apr 26, 2004</strong>
  </div>
  <ul>
    <li>Worked with producers to create effective management solutions for leads and sales</li>
    <li>Administered Commence RM relational database</li>
    <li>Created website, brochures, and other marketing materials</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_alumni.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_alumni.jpg" width="100" height="100" alt="UCSD Alumni Association" title="UCSD Alumni Association" />
    </a>
    <a href="https://ucsd.edu">University of California, San Diego</a> - <a href="https://alumni.ucsd.edu">Alumni Relations</a><br />
    (alumni.ucsd.edu)<br />
    <em>Jan 2000 &ndash; Aug 2002</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Webmaster</div>
  <ul>
    <li>Maintained and created new material for website: <a href="https://alumni.ucsd.edu">https://alumni.ucsd.edu</a></li>
    <li>Developed print and web-based informational materials</li>
    <li>Collaborated with co-workers on projects and website maintenance</li>
  </ul>
</div>

<div class="head">Education</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="https://ucsd.edu">University of California, San Diego</a><br />
    (ucsd.edu)<br />
    <em>Sep 1999 &ndash; Jun 2003</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Degree: BA in Interdisciplinary Computing in the Arts (ICAM &ndash; Emphasis in Music and Music Technology)</div>
  <ul>
    <li>The ICAM program aims to create the next generation of artists in a world of increasing connectivity in art, music and technology.</li>
    <li>Cognitive Science minor - Study of the brain, behavior, and computation, fitting in with the ICAM program by rounding out artistic and technological merits with a basis in scientific study and research.</li>
  </ul>
</div>

<div class="head">Technical Skills</div>
<div class="jobdesc">

  <!-- dev tech -->
  <ul class="skills">
    <li class="first tall">Development Languages (Primary)</li>
    <li class="first-next">PHP (Drupal, WP)</li>
    <li>(X)HTML(5), CSS(3)</li>
    <li>Javascript/Typescript</li>
    <li>C#</li>
    <li>Ruby</li>
  </ul>
  <ul class="skills other">
    <li class="first tall">Development Languages (Other)</li>
    <li class="first-next">Objective-C/Swift</li>
    <li>Rust</li>
    <li>Go</li>
    <li>Powershell</li>
    <li>Pico-8</li>
    <li>Shell scripting</li>
  </ul>

  <!-- dev ides -->
  <ul class="skills">
    <li class="first tall">Development IDEs</li>
    <li class="first-next">Visual Studio (Code)</li>
    <li>Atom</li>
    <li>Notepad++</li>
    <li>TextMate</li>
    <li>Xcode</li>
    <li>vim</li>
  </ul>

  <!-- web servers -->
  <ul class="skills">
    <li class="first">Web Server Software</li>
    <li class="first-next">Apache (XAMPP/MAMP/LAMP)</li>
    <li>IIS</li>
    <li>Mongoose</li>
  </ul>

  <!-- dbs -->
  <ul class="skills">
    <li class="first tall">Database Systems</li>
    <li class="first-next">MySQL</li>
    <li>MariaDB</li>
    <li>mongoDB</li>
    <li>Microsoft SQL Server</li>
    <li>SQLite</li>
  </ul>

  <!-- cms -->
  <ul class="skills">
    <li class="first">Content Management Systems</li>
    <li class="first-next">Drupal</li>
    <li>Wordpress</li>
    <li>cPanel</li>
    <li>SharePoint</li>
  </ul>

  <!-- vcs -->
  <ul class="skills">
    <li class="first tall">Versioning Systems</li>
    <li class="first-next">Git</li>
    <li>Team Foundation Server</li>
    <li>Visual Sourcesafe</li>
    <li>RCS</li>
    <li>Mercurial</li>
    <li>SVN</li>
  </ul>

  <!-- project management -->
  <ul class="skills">
    <li class="first">Project Management</li>
    <li class="first-next">Atlassian (Jira/Confluence)</li>
    <li>Zendesk</li>
    <li>Microsoft Project</li>
  </ul>

  <!-- img -->
  <ul class="skills">
    <li class="first">Image Manipulation</li>
    <li class="first-next">Adobe Photoshop</li>
    <li>Paint.NET</li>
  </ul>

  <!-- os -->
  <ul class="skills">
    <li class="first">Operating Systems</li>
    <li class="first-next">Apple OS X and iOS</li>
    <li>Linux/Unix</li>
    <li>Microsoft Windows</li>
  </ul>

</div>

<div class="head">Personal Development/Blogging</div>
<div class="jobdesc">

  <ul>
    <li><a href="https://michaelchadwick.info/blog">https://michaelchadwick.info/blog</a> - code blogging</li>
    <li><a href="https://github.com/michaelchadwick">https://github.com/michaelchadwick</a> - open-source projects</li>
  </ul>

</div>
