<div class="head">Work History</div>
<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsdsio.png"><img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsdsio.png" alt="sio.ucsd.edu" title="sio.ucsd.edu">
    </a>
    <a href="https://sio.ucsd.edu">Scripps Institution of Oceanography</a><br />
    (sio.ucsd.edu)<br />
    <em>May 2016 &ndash; Present</em><br />
    La Jolla, CA<br />
  </div>

  <div class="jobindent">
    Programmer/Analyst<br />
  </div>
  <ul>
    <li>Work with web team to create, administer, and develop for custom web applications</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_ucsdhealth.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_ucsdhealth.jpg" width="100" height="100" alt="health.ucsd.edu" title="health.ucsd.edu" />
    </a>
    <a href="https://health.ucsd.edu">UC San Diego Health System</a><br />
    (health.ucsd.edu)<br />
    <em>Jul 2009 &ndash; May 2016</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">
    Programmer/Analyst (Web Services)<br />
    <strong>May 2011 &ndash; May 2016</strong>
  </div>
  <ul>
    <li>
      Work with team to create, administer and develop for custom Sharepoint web applications
      <ul>
        <li>Administer and support 60+ public Sharepoint 2007, 10+ public Sharepoint 2010, and a handful of Classic ASP and other miscellaneous web applications</li>
        <li>Administer and support large internal Sharepoint 2010 web application used by thousands of employees</li>
        <li>Create and maintain several custom Sharepoint web parts using C# in Visual Studio</li>
        <li>Provide tech support for 30+ web/db/index Windows 2003/2008 servers</li>
        <li>Provide tech support for 5000+ user workstations</li>
        <li>Assist with new employee hiring and training</li>
        <li>Co-run Sharepoint superuser training classes</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Facilities and Hospitality Services via UCSD Temp Services)<br />
    <strong>Jul 2010 &ndash; May 2011</strong>
  </div>
  <ul>
    <li>
      Responsible for front-end design and back-end programming for internal facilities website
      <ul>
        <li>Created website using Windows Sharepoint Services 3.0</li>
        <li>Added web/server controls customized using C#</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>
      Responsible for front-end design for catering website
      <ul>
        <li>Modified website using ASP.NET</li>
        <li>Customized front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
  </ul>

  <div class="jobindent">
    Programmer/Analyst (Information and Telecommunications Services via UCSD Temp Services)<br />
    <strong>Jul 2009 &ndash; Jul 2010</strong>
  </div>
  <ul>
    <li>
      Responsible for front-end design and back-end programming for internal telecommunications website
      <ul>
        <li>Created website using Visual Studio 2008</li>
        <li>Added web/server controls customized using C#, including web form with file upload</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>
      Responsible for front-end design and back-end programming mockup of web paging system
      <ul>
        <li>Created web application using Visual Studio 2008</li>
        <li>Created front-end interface in XHTML 1.1 and CSS 2.1, as well as client-side interaction using various jQuery plugins and custom scripts</li>
      </ul>
    </li>
    <li>Responsible for SharePoint mockup of internal telecommunications website</li>
    <li>Customization of web-based database system (XHTML, CSS, Javascript, Classic ASP)</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_eselex.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_eselex.jpg" width="100" height="100" alt="e-Selex.com" title="e-Selex.com" /></a>
    <a href="https://e-selex.com">e-Selex.com</a><br />
    (e-Selex.com)<br />
    <em>Nov 14, 2005 &ndash; Jul 24, 2009</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Systems Technician</div>
  <ul>
    <li>Perform skilled repair and maintenance of all technology-related equipment</li>
    <li>Maintain several Windows- and Unix-based servers in-house and at datacenter</li>
    <li>Provide technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Purchase and setup hardware/software when needed</li>
    <li>Manage RAID and tape backups</li>
    <li>Create marketing/sales materials for both print and web</li>
    <li>Created/maintained Windows 2003 Active Directory domain</li>
    <li>Implemented RSA SecureID on LAN, workstations; hard drive-level encryption on laptops</li>
    <li>Web development/design for multiple projects</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://snappassociates.com">Snapp &amp; Associates Insurance Services, Inc.</a><br />
    (snappins.com)<br />
    <em>Apr 26, 2004 &ndash; Nov 11, 2005</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Assistant to the IT Director</div>
  <ul>
    <li>Performed skilled repair and maintenance of all technology-related equipment</li>
    <li>Provided technical support to users on equipment setup/operation/troubleshooting</li>
    <li>Monitored, administered ~30-user LAN, satellite office with multiple remote users</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <em>Jan 2003 &ndash; Apr 26, 2004</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Production Assistant</div>
  <ul>
    <li>Worked with producers to create effective management solutions for leads and sales</li>
    <li>Administered Commence RM relational database</li>
    <li>Created website, brochures, and other marketing materials</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_adickson.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_adickson.jpg" width="100" height="100" alt="Andrew Dickson" title="Andrew Dickson" /></a>
    <a href="https://scripps.ucsd.edu">Scripps Institution of Oceanography</a><br />
    Office of Dr. Andrew Dickson<br />
    (andrew.ucsd.edu)<br />
    <em>May 2002 &ndash; May 2003</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Web Production Assistant</div>
  <ul>
    <li>Created new website from scratch: http://andrew.ucsd.edu (expired)</li>
    <li>Developed and administered FileMaker Pro database-driven website</li>
    <li>Administered Macintosh OS 9 workstation and set up OS X server</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a rel="colorbox" href="{{ site.baseurl }}/assets/images/resumes/web/ss_alumni.jpg">
      <img src="{{ site.baseurl }}/assets/images/resumes/web/thumbs/ss_alumni.jpg" width="100" height="100" alt="UCSD Alumni Association" title="UCSD Alumni Association" /></a>
    <a href="https://ucsd.edu">University of California, San Diego</a><br />
    Dept. of <a href="https://alumni.ucsd.edu">Alumni Relations</a><br />
    (alumni.ucsd.edu)<br />
    <em>Jan 2000 &ndash; Aug 2002</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Webmaster</div>
  <ul>
    <li>Maintained and created new material for website: <a href="https://alumni.ucsd.edu">https://alumni.ucsd.edu</a></li>
    <li>Developed print and web-based informational materials</li>
    <li>Collaborated with co-workers on projects and website maintenance</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    <a href="https://act-1.com">Act-1 Temp Agency</a><br />
    (act-1.com)<br />
    <em>Aug 1999 &ndash; Sep 1999</em><br />
    Thousand Oaks, CA<br />
  </div>

  <div class="jobindent">Telemarketer</div>
  <ul>
    <li>Administered advertising effectiveness survey to real estate representatives</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Peter Komasa<br />
    Sentra Securities<br />
    <em>Mar 1999 &ndash; Jul 1999</em><br />
    Bonita, CA<br />
  </div>

  <div class="jobindent">Webmaster</div>
  <ul>
    <li>Basic computer skills training</li>
    <li>Created website: http://www.livingadvantage.com (expired)</li>
  </ul>
</div>

<div class="jobdesc">
  <div class="jobname">
    Computer Smart<br />
    <em>Summer 1998</em><br />
    Ramona, CA<br />
  </div>

  <div class="jobindent">Production Assistant</div>
  <ul>
    <li>Assembled Windows-based personal computers from individual parts</li>
  </ul>
</div>

<div class="head">Education</div>
<div class="jobdesc">
  <div class="jobname">
    <a href="https://ucsd.edu">University of California, San Diego</a><br />
    (ucsd.edu)<br />
    <em>Sep 1999 &ndash; Jun 2003</em><br />
    San Diego, CA<br />
  </div>

  <div class="jobindent">Degree: BA in Interdisciplinary Computing in the Arts (ICAM &ndash; Emphasis in Music and Music Technology)</div>
  <ul>
    <li>The ICAM program aims to create the next generation of artists in a world of increasing connectivity in art, music and technology.</li>
    <li>Cognitive Science minor - Study of the brain, behavior, and computation, fitting in with the ICAM program by rounding out artistic and technological merits with a basis in scientific study and research.</li>
  </ul>
</div>

<div class="head">Technical Skills</div>
<div class="jobdesc">

  <ul class="skills">
    <li class="first">Backup/Recovery Systems</li>
    <li class="first-next">APC UPS</li>
    <li>DocAve</li>
    <li>HP Ultrium LTO</li>
    <li>Symantec BackupExec</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Database Management Systems</li>
    <li class="first-next">Commence Relation Manager</li>
    <li>FileMaker Pro</li>
    <li>MSSQL</li>
    <li>MySQL</li>
    <li>SQLite</li>
    <li>SugarCRM</li>
    <li>TAM (The Agency Manager)</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Email Server Systems</li>
    <li class="first-next">Ipswitch Imail</li>
    <li>Microsoft Exchange</li>
    <li>Zimbra Collaboration Suite</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Image Design</li>
    <li class="first-next">Adobe Acrobat
    <li>Adobe AfterEffects</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Pagemaker</li>
    <li>Adobe Photoshop</li>
    <li>Paint.NET</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Networking Concepts/Tools</li>
    <li class="first-next">DNS</li>
    <li>FTP</li>
    <li>HTTP</li>
    <li>IMAP/POP</li>
    <li>RDP</li>
    <li>SMTP</li>
    <li>SSH</li>
    <li>SSL</li>
    <li>TCP/IP</li>
    <li>Telnet</li>
    <li>VNC</li>
    <li>VPN</li>
    <li>VPS</li>
  </ul>

  <ul class="skills">
    <li class="first tallest">Networking Hardware</li>
    <li class="first-next">Ethernet cabling</li>
    <li>Firewalls (SonicWALL)</li>
    <li>Hubs</li>
    <li>Intrusion Detection Systems (Cisco)</li>
    <li>Load Balancers (Alteon, Cisco)</li>
    <li>NICs</li>
    <li>Routers (Cisco, D-Link, Linksys)</li>
    <li>Switches (Cisco, Linksys)</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Networking Software</li>
    <li class="first-next">Apache</li>
    <li>BIND</li>
    <li>CPanel</li>
    <li>Microsoft Active Directory/IIS</li>
    <li>phpMyAdmin</li>
    <li>Putty</li>
    <li>SecureCRT</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Office Software</li>
    <li class="first-next">Access</li>
    <li>Excel</li>
    <li>Infopath</li>
    <li>Outlook</li>
    <li>PowerPoint</li>
    <li>Publisher</li>
    <li>SharePoint</li>
    <li>Visio</li>
    <li>Word</li>
  </ul>

  <ul class="skills">
    <li class="first taller">Operating Systems</li>
    <li class="first-next">DOS</li>
    <li>Linux (Red Hat, Ubuntu)</li>
    <li>Mac OS 9 and X</li>
    <li>Unix (FreeBSD)</li>
    <li>Windows: 3.1, 95, 98, NT 4.0, 2k/2k3, XP, Vista, 7, 8</li>
  </ul>

  <ul class="skills">
    <li class="first">Security Applications</li>
    <li class="first-next">RSA SecurID for Windows (client/server software and key fobs)</li>
  </ul>

  <ul class="skills">
    <li class="first tallest">Software Development</li>
    <li class="first-next">ASP.NET (C#)</li>
    <li>Bash shell scripting</li>
    <li>(X)HTML (CSS)</li>
    <li>JavaScript (Angular, jQuery)</li>
    <li>Objective-C (Cocoa)</li>
    <li>PHP (CakePHP, Drupal, WP)</li>
    <li>Powershell</li>
    <li>Ruby (on Rails)</li>
    <li>Swift</li>
  </ul>

  <ul class="skills">
    <li class="first tall">Version Control Systems</li>
    <li class="first-next">Git</li>
    <li>Mercurial</li>
    <li>SVN</li>
    <li>Team Foundation Server</li>
    <li>Visual Sourcesafe</li>
  </ul>

</div>
