body {
  background-attachment: fixed;
  background-color: #f6f6f6;
  background-image: url(/assets/images/svg/liquid-cheese.svg);
  /* background by SVGBackgrounds.com */
  background-size: cover;
  color: #282828;
}
a {
  color: #1eaedb !important;
}
a.light {
  background: #f6f6f6 !important;
  color: #282828 !important;
}
a.dark {
  background: #282828 !important;
  color: #f6f6f6 !important;
  text-decoration: underline !important;
}
