/* main-dark.css */

:root {
  --color-primary: #1e9edb;
  --color-faded1: #2c6782;
  --color-faded2: #3083aa;
  --color-faded3: #2d8fbd;
  --color-faded4: #2597cb;
  --color-primary-rev: #d5f9ff;

  --link-color: var(--color-primary);
  --link-color-faded1: var(--color-faded1);
  --link-color-faded2: var(--color-faded2);
  --link-color-faded3: var(--color-faded3);
  --link-color-faded4: var(--color-faded4);
  --link-color-rev: var(--color-primary-rev);

  --neutral-gray: #d3d3d3;
  --neutral-black: #282828;
  --neutral-white: #fafafa;
  --neutral-white-trans: #f6f6f6ee;

  --text-color: var(--neutral-black);
  --bg-color: var(--neutral-white-trans);
}

/* FOUNDATIONAL */

body.dark-theme {
  --text-color: #f3f3f3;
  --bg-color: #282828ee;
  background-image: url(/assets/images/wavey-fingerprint.svg);
  /* background-image by SVGBackgrounds.com */
}
  body.dark-theme .button:hover, button:hover,
  body.dark-theme input[type="submit"]:hover,
  body.dark-theme input[type="reset"]:hover,
  body.dark-theme input[type="button"]:hover,
  body.dark-theme .button:focus,
  body.dark-theme button:focus,
  body.dark-theme input[type="submit"]:focus,
  body.dark-theme input[type="reset"]:focus,
  body.dark-theme input[type="button"]:focus {
    color: var(--text-color);
  }

  body.dark-theme a {
    background: #282828;
    color: #9bc9d7;
  }
    @media (hover: hover) {
      body.dark-theme a.btn-more:hover {
        background-color: var(--link-color-faded4);
        color: var(--neutral-white);
      }
    }
    body.dark-theme .post-nav a {
      color: var(--link-color-rev);
    }
      body.dark-theme .post-nav a:hover {
        color: var(--link-color);
      }
  body.dark-theme code {
    background: #111111;
    color: #fcfcfc;
  }
  body.dark-theme .overlay {
    background: rgba(120, 120, 120, 0.8);
  }
  body.dark-theme #search-container {
    background: #222222;
    border: 1px solid #fcfcfc;
  }
  body.dark-theme #search-container input {
    background: #222222;
    color: #ffffff;
  }
  body.dark-theme footer#site-footer p {
    color: #f3f3f3;
  }
  /*
  body.dark-theme ul.links li {
    background-color: #282828;
  }
  */

body.dark-theme header.header-scrolled div.site-meta span.name a {
  color: var(--link-color-rev2);
}

body.dark-theme ul.links li span {
  color: var(--neutral-white);
}
  body.dark-theme ul.links li.manual.code {
    list-style-image: url('../images/code-rev.svg');
  }
  body.dark-theme ul.links li.manual.music {
    list-style-image: url('../images/music-rev.svg');
  }
body.dark-theme ul.skills {
  color: var(--text-color);
}

body.dark-theme header.header-scrolled {
  background: #000000ee;
  background: linear-gradient(322deg, rgb(0, 0, 0) 0%, rgba(35, 43, 51, 0.975) 100%);
  box-shadow: 0 0 2px 2px #383636;
}
  body.dark-theme header.header-scrolled .menu a {
    background: #000000ee;
  }

body.dark-theme button#theme-toggler {
  background-color: var(--bg-color);
  color: var(--text-color);
}
  @media (min-width: 550px) {
    body.dark-theme button#theme-toggler span.theme-image::after {
      content: " dark"
    }
  }

body.dark-theme .lds-dual-ring:after {
  border: 2px solid var(--neutral-white);
  border-color: var(--neutral-white) transparent var(--neutral-white) transparent;
}
