/* FOUNDATIONAL */

body {
  --text-color: #282828;
  --bkgr-color: #f6f6f6ee;
  background-attachment: fixed;
  background-color: var(--bkgr-color);
  background-image: url(../images/svg/liquid-cheese.svg);
  /* background-image by SVGBackgrounds.com */
  background-size: cover;
  color: var(--text-color);
  font-size: 16px;
  margin-top: 70px;
}
  body.dark-theme {
    --text-color: #f3f3f3;
    --bkgr-color: #282828ee;
    background-image: url(../images/svg/wavey-fingerprint.svg);
    /* background-image by SVGBackgrounds.com */
  }
    body.dark-theme a {
      background: #282828;
      color: #9bc9d7;
      text-decoration: underline;
    }
    /*
    body.dark-theme ul.links li {
      background-color: #282828;
    }
    */

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #f3f3f3;
    --bkgr-color: #282828ee;
  }
  body.light-theme {
    --text-color: #282828;
    --bkgr-color: #f6f6f6ee;
  }
}

@media (min-width: 550px) {
  body {
    font-size: 1.75rem;
    margin-top: 0;
  }
}

a {
  color: #1eaedb;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
    margin-left: -1px;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 0.8;
  margin-bottom: 1rem;
}
@media (min-width: 550px) {
  h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: 2rem;
}
  h3.task-header {
    border-bottom: 1px solid #b3aeae;
    border-top: 1px solid #b3aeae;
    display: none;
  }
@media (min-width: 550px) {
  h3 {
    font-size: 3rem;
  }
    h3.task-header {
      display: block;
      font-size: 3.6rem;
      line-height: 0.8;
      padding: 2.3rem 0;
    }
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.8;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media (min-width: 550px) {
  h4 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 550px) {
  h5 {
    font-size: 2rem;
  }
}

h6 {
  font-size: 1.25rem;
  line-height: 0.8;
  margin-bottom: 2rem;
}
@media (min-width: 550px) {
  h6 {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
}

li {
  margin-bottom: 0;
}

ul.menu li {
  float: left;
  list-style-type: none;
}

ul.links li {
  font-size: 2rem;
  list-style-type: square;
  margin-bottom: 0;
  padding-left: 1px;
}
@media (min-width: 550px) {
  ul.links li {
    padding: 5px 10px;
  }
}
  ul.links li::marker {
    padding: 0;
  }
    ul.links li.manual.code {
      list-style-image: url('../images/png/code-solid.png');
    }
      body.dark-theme ul.links li.manual.code {
        list-style-image: url('../images/png/code-solid-rev.png');
      }
      ul.links li.manual.code::marker {
        position: relative;
        top: -2px;
      }
    ul.links li a {
      padding-bottom: 2px;
    }
    ul.links li img {
      margin: auto 5px;
    }
    ul.links li ul {
      margin-bottom: 0;
      margin-top: 0;
    }
      ul.links li ul li {
        font-size: 0.8em;
        left: 0.65em;
        list-style-type: none;
        padding: 0;
        position: relative;
      }
        ul.links li ul li::before {
          content: "\2219";
          font-size: 2.5em;
          left: -0.5em;
          line-height: 0;
          position: absolute;
          top: 0.3em;
        }
          ul.links li ul li.blank {
            left: -0.75em;
          }
            ul.links li ul li.blank::before {
              content: "";
            }
          ul.links li ul li.blank a,
          ul.links li ul li.blank span {
            position: relative;
            top: -2px;
          }
        ul.links li ul li.soundcloud {
          left: -0.5em;
        }
          ul.links li ul li.soundcloud::before {
            content: "";
          }

/* CUSTOM CLASSES */

.apiData {
  display: none;
}

/* LAYOUT */

header.header-top {
  display: none;
  margin-top: 5%;
  position: relative;
}
  @media (min-width: 550px) {
    header.header-top {
      display: block;
    }
  }
header.header-scrolled {
  background: #ffffffee;
  background: linear-gradient(322deg, rgba(237,241,247,1) 0%, rgba(158,195,231,0.9122023809523809) 100%);
  box-shadow: 0 0 2px 2px #b3aeae;
  height: 40px;
  left: 0;
  margin-top: 0;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  transition: top 0.2s cubic-bezier(.3, .73, .3, .74);
  width: 100%;
  z-index: 1;
}
  body.dark-theme header.header-scrolled {
    background: #000000ee;
    background: linear-gradient(322deg, rgb(0, 0, 0) 0%, rgba(35, 43, 51, 0.912) 100%);
    box-shadow: 0 0 2px 2px #383636;
  }
    body.dark-theme header.header-scrolled span.blog a {
      background: #000000ee;
    }
@media (min-width: 550px) {
  header.header-scrolled {
    top: -100px;
  }
}
  header.header-scrolled.show {
    top: 0;
  }
    header.header-scrolled span {
      display: inline-block;
      line-height: 0.85;
      padding: 7px 0;
    }
      header.header-scrolled span.name {
        float: left;
        font-weight: 600;
      }
        header.header-scrolled span.name span.desc {
          font-size: 0.8em;
          font-weight: 300;
          padding: 0;
        }
      header.header-scrolled span.blog {
        float: right;
        padding: 14px 0;
      }
      @media (min-width: 550px) {
        header.header-scrolled span {
          line-height: 1;
        }
          header.header-scrolled span.name {
            padding-top: 4px;
          }
      }

button#theme-toggler {
  background-color: var(--bkgr-color);
  bottom: 5px;
  height: auto;
  margin-bottom: 0;
  padding: 0 10px;
  position: fixed;
  right: 5px;
  text-align: center;
  visibility: 0.9;
  width: 40px;
  z-index: 10000;
}
  @media (min-width: 550px) {
    button#theme-toggler {
      width: 80px;
    }
    body.dark-theme button#theme-toggler::after {
      content: " dark"
    }
    body.light-theme button#theme-toggler::after {
      content: " light"
    }
  }
  body.dark-theme button#theme-toggler {
    color: var(--text-color);
  }

footer {
  border-top: 1px solid #b3aeae;
  padding-top: 4rem;
}
  footer img {
    width: 25%;
  }
  @media (min-width: 550px) {
    footer img {
      width: auto;
    }
  }
