body {
  --text-color: #282828;
  --bkgr-color: #f6f6f6;
  background-image: url(../images/svg/liquid-cheese.svg);
  /* background-image by SVGBackgrounds.com */
  transition: .25s;
}
body.dark-theme {
  --text-color: #f3f3f3;
  --bkgr-color: #282828;
  background-image: url(../images/svg/wavey-fingerprint.svg);
  /* background-image by SVGBackgrounds.com */
}
  body.dark-theme a {
    background: #282828;
    color: #9bc9d7;
    text-decoration: underline;
  }
  /*
  body.dark-theme ul.links li {
    background-color: #282828;
  }
  */

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #f3f3f3;
    --bkgr-color: #282828;
  }
  body.light-theme {
    --text-color: #282828;
    --bkgr-color: #f6f6f6;
  }
}

body {
  background-color: var(--bkgr-color);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}
a {
  color: #1eaedb;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

h1 {
  line-height: 1;
  margin-left: -1px;
}

h3 {
  line-height: 0.8;
}
  h3.task-header {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

h4 {
  font-size: 3rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h4 { font-size: 3rem;
  }
}

h5 {
  line-height: 0.8;
}

hr {
  border-top: 1px solid #b3aeae;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

li {
  margin-bottom: 0;
}

ul.links li {
  font-size: 2rem;
  list-style-type: square;
  margin-bottom: 0;
  padding: 5px 10px;
}
  ul.links li::marker {
    padding: 0;
  }
    ul.links li a {
      padding-bottom: 2px;
    }
    ul.links li img {
      margin: auto 5px;
    }
    ul.links li ul {
      margin-bottom: 0;
      margin-top: 0;
    }
      ul.links li ul li {
        font-size: 0.8em;
        left: 0.65em;
        list-style-type: none;
        padding: 0;
        position: relative;
      }
        ul.links li ul li::before {
          content: "\2219";
          font-size: 2.5em;
          left: -0.5em;
          line-height: 0;
          position: absolute;
          top: 0.3em;
        }
          ul.links li ul li.blank {
            left: -0.75em;
          }
            ul.links li ul li.blank::before {
              content: "";
            }
          ul.links li ul li.blank a,
          ul.links li ul li.blank span {
            position: relative;
            top: -2px;
          }
        ul.links li ul li.soundcloud {
          left: -0.5em;
        }
          ul.links li ul li.soundcloud::before {
            content: "";
          }

header h5 {
  margin-bottom: 4rem;
}

button#theme-toggler {
  background-color: var(--bkgr-color);
  bottom: 5px;
  height: auto;
  margin-bottom: 0;
  padding: 0 10px;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 80px;
  z-index: 10000;
}
body.dark-theme button#theme-toggler {
  color: var(--text-color);
}

footer {
  padding-bottom: 10px;
}

.apiData {
  display: none;
}

ul.links li.manual.code {
  list-style-image: url('../images/png/code-solid.png');
}
  ul.links li.manual.code::marker {
    position: relative;
    top: -2px;
  }
