---
title: Blog
title_icon: fa-solid fa-book
layout: default
style: blog
search: true
pagination:
  enabled: true
tags: fa fa-solid
---

<!-- TODO: Add remaining drafts to blog as unpublished posts -->

<h2>Blog <i class="fa-solid fa-book"></i></h2>

<label for="blog-mode-toggle" title="Determines blog post teaser amount">
  <input type="checkbox" id="blog-mode-toggle" role="switch" checked="true">
  <span class="blog-mode-toggle-status">FULL</span>
</label>

<div class="home">
  <div id="search-container">
    <input
      type="search"
      id="search-input"
      data-post-size="{{ site.posts | size }}"
      placeholder="Search posts..."
    />
    <ul id="results-container"></ul>
  </div>

  <ul
    class="posts{% if site.unpublished %} posts-unpublished{% endif %}"{% if site.env.SHOW_UNPUB == 'true' %}style="display: block"{% endif %}
  >
    {% for post in paginator.posts %}
    {% unless post.draft %}

    <li
      class="post-row{% if post.published == false %} unpublished{% endif %}"{% if site.env.SHOW_UNPUB == 'true' %}style="display: block"{% endif %}
    >
      <div class="post-meta">
        {% if post.published == false %}
        <div><strong>UNPUBLISHED</strong></div>
        {% endif %}

        <span class="post-date"> {{ post.date | date: site.date_YYYYMMDD_dash }} </span>

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>

        {% assign sorted_tags = post.tags | sort %}

        <div class="tags">
          {% for tag in sorted_tags %}
          #<a href="{{ site.blogurl }}/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>

        <div class="post-reading-time">
          <i class="fa-solid fa-book" title="Reading time"></i> {{post.content | reading_time}}
        </div>
      </div>

      <div class="post-main">
        <div class="post-header-image">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <figure>
              <img
                {% if post.headerImage %}
                src="{{ site.baseurl }}/assets/images/{{ post.headerImage }}"
                {% else %}
                src="{{ site.baseurl }}/assets/images/default_header-800.jpg"
                {% endif %}
                alt="{{ post.title }}"
                title="{{ post.title }}"
                width="480"
                height="270"
              />
            </figure>
          </a>
        </div>

        <div class="post-teaser">
          {% if post.content contains '<!--more-->' %}
          <p>{{ post.content | split:'<!--more-->' | first | raw }}</p>
          {% endif %}
        </div>
      </div>

      {% if post.published != false %}
      <hr />
      {% endif %}
    </li>

    {% endunless %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %} {% assign paginator_prev_link = paginator.previous_page_path |
    prepend: site.baseurl | replace: '//', '/' %}
    <a href="{{ paginator_prev_link }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %} {% assign paginator_page_link = '/' | prepend: site.blogurl | replace:
    '//', '/' %}
    <a href="{{ paginator_page_link }}">{{ page }}</a>
    {% else %} {% assign paginator_page_link = site.paginate_path | prepend: site.blogurl | replace:
    '//', '/' | replace: ':num', page %}
    <a href="{{ paginator_page_link }}">{{ page }}</a>
    {% endif %} {% endfor %} {% if paginator.next_page %} {% assign paginator_next_link =
    paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' %}
    <a href="{{ paginator_next_link }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>

<div class="archives-link">
  <a href="{{ site.blogurl }}/archives">Archives</a>
</div>