/* blog.css */

:root {
  --hr-color: #72c7f7;
  --link-color: #1e9edb;
  --link-color-rev: #d5f9ff;
  --neutral-white: #ffffff;
}

body.dark-theme .posts .full-entry a {
  box-shadow: 0 3px 5px #555;
}

/* basic */
a[rel='tag'] {
  letter-spacing: 0.03em;
}

/* tags page */
a.tag {
  background-color: #006f88;
  border-radius: 5px;
  color: var(--neutral-white);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 25px;
  line-height: 25px;
  margin: 0 0.5rem 0.3rem 0;
  padding: 0 1.5rem 0 0.666rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}
a.tag:after {
  background: inherit;
  border-radius: 4px;
  display: block;
  content: '';
  height: 17px;
  position: absolute;
  right: -6px;
  top: 4px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 17px;
}
a.tag:hover {
  background: #007dbb;
  text-decoration: none;
}

p {
  font-weight: 400;
  margin-bottom: 10px;
}

hr {
  background-color: var(--hr-color);
  border: none;
  clear: both;
  /* box-shadow: 0 1px 1px #2e2e2e; */
  height: 2px;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}
hr.hr-small {
  margin: 30px auto;
  text-align: center;
  width: 25%;
}

ul ol,
ul ul {
  margin-bottom: 10px;
  margin-left: 2em;
}

li.unpublished {
  background-color: #ffacac21;
  border: 2px dashed #fb9d9d;
  display: none;
  margin: 0;
  padding: 1rem 1rem 0;
}
li.unpublished p {
  font-weight: 300;
}
li.unpublished .post-main {
  padding-bottom: 0.9em;
}

code.header {
  background-color: #fff9c4;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 10px 0;
}
code .param {
  color: red;
}
code .value {
  color: green;
}

iframe {
  max-width: 960px;
  width: 100%;
}

/* html forms */
form fieldset legend,
.pure-form legend {
  background: #ff98009a;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #222222;
  clear: both;
  color: #222;
  font-size: 1.1em;
  font-weight: 600;
  left: -15px;
  letter-spacing: 0.08em;
  padding: 6px 15px;
  position: relative;
  text-align: left;
  width: 100%;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background: #1eaedb;
  color: var(--neutral-white);
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

/* html structure */
.page-content {
  background-color: rgba(7, 137, 255, 0.05);
  margin-top: 0;
}
.page-content .home {
  z-index: 0;
}

article {
  clear: left;
}

nav.site-links,
nav#site-bio,
footer#site-footer li,
footer#site-footer p {
  color: #22243a;
}
nav.site-links {
  background: #ff57229a;
  font-size: 0.9em;
  text-align: center;
}
nav.site-links a,
nav.site-links a:active,
nav.site-links a:visited {
  color: #71301c;
}
nav.site-links a {
  display: inline-block;
  padding: 5px 5px 1px;
  text-transform: uppercase;
}

.overlay {
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay.enabled {
  display: block;
}

.wrap {
  padding: 0 20px;
}
@media (min-width: 960px) {
  .wrap {
    padding: 0 15px;
  }
}

/* custom ids and classes */
#posts-tags {
  margin: 30px;
}

#search-container {
  background: #fcfcfc;
  border: 1px solid #bbbbbb;
  margin: 10px 0 5px;
  padding: 3px;
  position: relative;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  #search-container {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
#search-container.selected {
  background: var(--neutral-white);
  border: 0px;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
#search-container input {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0;
  padding: 0.5em;
  position: relative;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}
@media (min-width: 450px) {
  #search-container input {
    font-size: 1.25em;
  }
}
#search-container input::placeholder {
  color: #aaa;
}
#search-container input.selected {
  border-bottom: 1px solid #444;
  outline: none;
}

#results-container {
  background: #fcfcfc;
  margin: 0;
  padding-left: 20px;
}

.site-nav .page-link {
  color: #4e4d4d;
}

.subhead {
  margin: 3px auto 20px;
}

.posts {
  padding-left: 0;
}
.posts .img-container {
  box-shadow: 1px 1px 5px #333333;
}

.post-main {
  display: block;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .post-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .post-main .post-teaser {
    max-width: 70%;
  }
}

.post-header {
  margin: 35px 0 0;
}
.post-header h1 {
  margin: 5px 0 0;
}
.post-header h3,
.post-header h4 {
  margin: 0;
}

.posts img,
.post-content img,
.post-header-image img {
  border: none;
  box-shadow: none;
  height: auto;
  position: relative;
  right: 0;
  width: 100%;
}
@media (min-width: 450px) {
  .post-content img {
    border: 2px solid #444444;
    box-shadow: 0 1px 2px #888888;
  }
}
@media (min-width: 768px) {
  .post-content img {
    background-color: var(--neutral-white);
    box-shadow: 0 3px 5px #888888;
    margin-bottom: 1em;
    margin-left: 2em;
    max-width: 150px;
  }
}

.post-header-image {
  align-items: center;
  display: flex;
  margin: 0 0 1em 0;
  max-height: 50vw;
  overflow: hidden;
}
@media (min-width: 768px) {
  .post-header-image {
    max-height: none;
    max-width: 200px;
    margin: 0 0 1em 2em;
  }
}
.post-header-image img {
  /*
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 55%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 55%);
    */
  transform: rotate(0deg) scale(1);
  transition-duration: 300ms;
}
@media (min-width: 768px) {
  .post-header-image img {
    -webkit-mask-image: none;
    mask-image: none;
  }
}
.post-header-image:not(.full-entry) img:hover {
  transform: rotate(0.55deg) scale(1.01);
  transition-duration: 300ms;
}
@media (min-width: 768px) {
  .post-header-image:not(.full-entry) img:hover {
    transform: rotate(-1.01deg) scale(1.01);
    transition-duration: 200ms;
  }
}

.posts img.emoji,
.post-content img.emoji,
.post-header-image img.emoji {
  background: none;
  border: none;
  box-shadow: none;
  height: 16px;
  left: 0;
  position: static;
  right: 0;
  width: 16px;
}

.post-content a {
  text-decoration: underline;
}
.post-content a.tag {
  text-decoration: none;
}
.post-content a:visited {
  text-decoration: none;
}

.post-content blockquote {
  border-left: 4px solid #ffc82f;
}
.post-content hr {
  margin-top: 40px;
}
.post-content iframe {
  margin: 0;
}
.post-content > .wp-block-pb-accordion-item {
  margin: 0;
}
.post-content > .wp-block-pb-accordion-item strong {
  color: #006191;
  font-weight: 1000;
}
.post-content > .wp-block-pb-accordion-item h2 {
  cursor: pointer;
  font-size: 2.4rem;
  margin: 10px 0;
  padding: 5px 0;
}
.post-content > .wp-block-pb-accordion-item h2:hover {
  background-color: rgba(255, 193, 7, 0.31);
  border-left: 2px solid #333;
  padding-left: 5px;
}

.full-entry {
  clear: both;
}

.posts li.post-row {
  clear: both;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .posts li.post-row {
    margin-bottom: 2em;
  }
}

.posts a.post-link {
  margin-bottom: 10px;
}
.posts .full-entry a {
  background-color: var(--link-color);
  box-shadow: 0 3px 5px #888;
  color: var(--white);
  display: block;
  left: 0;
  letter-spacing: 3px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 960px) {
  .posts .full-entry a {
    box-shadow: none;
    display: inline-block;
    left: -10px;
    margin: 10px;
    padding: 10px;
  }
}
.posts .full-entry a:hover {
  background-color: var(--link-color-rev);
  color: var(--link-color);
}

.highlight pre > code,
.linenos pre > code {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  white-space: pre-wrap;
  overflow-x: auto;
  word-wrap: normal;
}
.highlight pre {
  white-space: pre-wrap;
}
.highlight .lineno {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}

.meta.pretags {
  font-size: 1.4rem;
  margin: 0;
}
.meta.tags {
  color: #999;
  display: block;
  margin: 0 0 40px 0;
  padding-left: 0;
}
.meta.tags li {
  float: left;
  line-height: 1.2em;
  list-style-type: none;
  margin-right: 5px;
}

.pagination {
  margin-bottom: 20px;
}
.pagination > * {
  display: inline-block;
  margin-right: 5px;
}

/* individual tag page */
h3.tag {
  background-color: #883600;
  border-radius: 5px;
  color: var(--neutral-white);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 1rem 0.5rem 0.3rem 0;
  padding: 0 1.5rem 0 0.666rem;
  position: relative;
  text-align: center;
}
h3.tag:after {
  background: inherit;
  border-radius: 4px;
  display: block;
  content: '';
  height: 25px;
  position: absolute;
  right: -10px;
  top: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 25px;
}

span.tags,
div.tags {
  font-size: 1.25rem;
  line-height: 1;
}

span.tags a,
div.tags a {
  display: inline-block;
  margin-right: 0.35rem;
}

/* media queries */
