body {
  margin-top: 0;
}
#episode-filter-container {
  margin: 2em 0 0;
}
#episode-list {
  font-family: 'Lucida Console', monospace;
  font-size: 1.6rem;
  min-width: 50%;
  overflow: auto;
  padding: 0;
}
#episode-list table td {
  border-bottom: none;
  padding: 0 10px 0 0;
}
#episode-list table tr.hidden {
  display: none;
}