body {
  margin-top: 0;
}
#episode-meta {
  font-family: 'Lucida Console', monospace;
  font-size: 1.4rem;
  line-height: 1.3;
  padding: 1em 0;
}
#episode-filter-container {
  margin: 0;
}
#episode-list {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-family: 'Lucida Console', monospace;
  font-size: 1.7rem;
  padding: 0;
}
@media (min-width: 768px) {
  #episode-list {
    display: block;
    font-size: 1.6rem;
  }
}
#episode-list .episode {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}
@media (min-width: 768px) {
  #episode-list .episode {
    display: grid;
    grid-template-columns: 1.25fr 0.35fr 0.75fr;
    grid-column-gap: 5px;
  }
}
#episode-list .episode.hidden {
  display: none;
}
#episode-list .episode div.title {
  align-items: center;
  display: flex;
  width: 100%;
}
@media (min-width: 576px) {
  #episode-list .episode div.title {
    width: auto;
  }
}
#episode-list .episode div.title a {
  line-height: 1.3;
}
#episode-list .episode div.title button {
  border: none;
  height: auto;
  margin: 0;
  padding: 0;
}
#episode-list .episode div.title button img {
  height: 24px;
  margin-right: 0.5em;
  width: 24px;
}
#episode-list .episode div.title button.chevron-down img {
  transform: rotate(90deg);
}
#episode-list .episode div.duration {
  text-shadow: 1px 1px 1px #000;
}
#episode-list .episode div.duration.short {
  color: #4FAE32;
}
#episode-list .episode div.duration.med {
  color: #a4ae32;
}
#episode-list .episode div.duration.long {
  color: #ae3232;
}
#episode-list .episode div.perc {
  display: flex;
  gap: 1px;
}
#episode-list div.player-wrapper {
  width: 100%;
}
#episode-list div.player-wrapper iframe.player {
  width: 100%;
}