---
layout: default
tags: fa fa-solid
---
<div class="post{% if page.published == false %} unpublished{% endif %}">

  <header class="post-header full-entry">
    {% assign today = site.time | date: '%s' %}
    {% assign start = page.date | date: '%s' %}
    {% assign secondsSince = today | minus: start %}
    {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
    {% assign daysSince = hoursSince | divided_by: 24 %}

    <span class="post-date" title="{{ page.date | date: "%b %-d, %Y" }}">
      {% if daysSince > 365 %}
        Posted: {{ page.date | timeago }}
      {% else %}
        {{ page.date | date: site.date_YYYYMMDD_dash | slice: 0, 10 }}
      {% endif %}
    </span>
    {% unless page.published == true %}
    <span>UNPUBLISHED</span>
    {% endunless %}

    <div class="post-reading-time">
      <i class="fa-solid fa-book" title="Reading time"></i> {{content | reading_time}}
    </div>

    <h1>{{ page.title }}</h1>

    {% if page.meta %}
    <div class="meta pretags">
      • {{ page.meta }}
    </div>
    {% endif %}

    {% if page.tags %}
      {% assign sorted_tags = page.tags | sort %}
      <div class="tags">
        {% for tag in sorted_tags %}
          #<a href="{{ site.blogurl }}/tags/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}

    <div class="post-header-image full-entry">
      {% if page.headerImage %}
      <a href="{{ site.baseurl }}/assets/images/{{ page.headerImage }}">
      {% else %}
      <a href="{{ site.baseurl }}/assets/images/default_header-800.jpg">
      {% endif %}
        <img
          alt="{{ page.title }}"
          title="{{ page.title }}"
          loading="lazy"
          width="480"
          height="270"

          {% if page.headerImage %}
          src="{{ site.baseurl }}/assets/images/{{ page.headerImage }}"
          data-image-title="{{ page.headerImage }}"
          data-orig-file="{{ site.baseurl }}/assets/images/{{ page.headerImage }}"
          {% else %}
          src="{{ site.baseurl }}/assets/images/default_header-800.jpg"
          data-image-title="Michael Chadwick blog post"
          data-orig-file="{{ site.baseurl }}/assets/images/default_header-800.jpg"
          {% endif %}
        />
      </a>
    </div>
    {% if page.headerImageCaption %}
    <div class="post-header-image-caption">
      {{ page.headerImageCaption }}
    </div>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if site.enable_comments %}
  <section class="comment-content">
    <script src="https://utteranc.es/client.js"
      repo="michaelchadwick/michaelchadwick.info"
      issue-term="pathname"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async>
    </script>
  </section>
  {% endif %}

  {% if page.previous.url or page.next.url %}
  <section class="post-nav">
    {% if page.previous.published %}
      {% assign prev_classes = 'card post-nav-prev' %}
    {% else %}
      {% assign prev_classes = 'card post-nav-prev unpublished' %}
    {% endif %}
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">
      <div class="{{ prev_classes }}">
        <div class="page-nav">&laquo; Previous</div>
        <div class="page-title">{{ page.previous.title }}</div>
        <div class="page-date">{{ page.previous.date | date: site.date_YYYYMMDD_dash }}</div>
      </div>
    </a>
  {% endif %}
  {% if page.next.published %}
    {% assign next_classes = 'card post-nav-next' %}
  {% else %}
    {% assign next_classes = 'card post-nav-next unpublished' %}
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">
      <div class="{{ next_classes }}">
        <div class="page-nav">Next &raquo;</div>
        <div class="page-title">{{ page.next.title }}</div>
        <div class="page-date">{{ page.next.date | date: site.date_YYYYMMDD_dash }}</div>
      </div>
    </a>
  {% endif %}
  </section>
  {% endif %}

</div>