---
layout: default_resume_print
title: R&eacute;sum&eacute;
---
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom/resumes.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom/resumes_print.css" type="text/css" media="screen,print" />

<div class="post">

  <header class="post-header">
    <h1>Michael Chadwick</h1>
    <h3>{{ page.subtitle }}</h3>
    <h4>{{ page.contact_email }}</h4>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
