---
layout: default
---

<header class="page-header">
  <h2>Tag</h2>
  <h3 class="tag">{{ page.tag }}</h3>
</header>

<div class="page-tag">

  <article class="page-content">
    <a href="{{ site.blogurl }}/tags">&lt;&lt; back to tags</a>

    <ul>
    {% for post in page.posts %}
      <li>
        {{ post.date | date: site.date_YYYYMMDD_dash }}: <a href="{{ post.url }}" {% if post.published == false %}class="unpublished"{% endif %}>{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </article>

</div>